﻿@model ManagementSystem.Models.CampaignActionModel
    @{
        ViewBag.Title = "Campaign";
        var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    }


    <div class="normalheader">
        <div class="hpanel">
            <div class="panel-body">

                <div class="pull-right">
                    <button type="button" data-bind="click: myObject.saveCamp" class="btn btn-warning2 btn-lg">
                        <i class="fa fa-save" ></i> &nbsp;Save
                    </button>
                </div>



                <h2 class="font-light m-b-xs">
                    Create Campaign
                </h2>
            </div>
        </div>
    </div>

    <div id="viewContent" class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="hpanel">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="form-group col-sm-12 ">
                                        <label class="col-sm-2 control-label">Code</label>
                                        <div class="col-sm-3" data-bind='validationOptions: { insertMessages: false }'>
                                            <input type="text" placeholder="รหัส" class="form-control" data-bind="value: myObject.dtoFocus.camp_code">
                                            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.camp_code"></span>
                                        </div>
                                        <label class="col-sm-2 control-label">Name</label>
                                        <div class="col-sm-4" data-bind='validationOptions: { insertMessages: false }'>
                                            <input type="text" placeholder="ชื่อ" class="form-control" data-bind="value: myObject.dtoFocus.camp_name">
                                            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.camp_name"></span>
                                        </div>

                                    </div>
                                    <div class="form-group  col-sm-12 ">
                                        <label class="col-sm-2 control-label">Description</label>
                                        <div class="col-sm-9">
                                            <textarea placeholder="Remark" rows="4" class="form-control" data-bind="value: myObject.dtoFocus.camp_desc"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group  col-sm-12 ">
                                        <label class="control-label col-md-2">Start Date : </label>
                                        <div class="col-md-3" data-bind='validationOptions: { insertMessages: false }'>
                                            <input id="startDate" type="text" data-date-format="dd/mm/yyyy" data-bind="datepicker: myObject.dtoFocus.camp_startDate_str" class="form-control datepicker ">
                                            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.camp_startDate_str"></span>
                                        </div>
                                        <label class="control-label col-md-2">End Date</label>
                                        <div class="col-md-3" data-bind='validationOptions: { insertMessages: false }'>
                                            <input id="endDate" type="text" data-date-format="dd/mm/yyyy" data-bind="datepicker: myObject.dtoFocus.camp_endDate_str" class="form-control datepicker ">
                                            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.camp_endDate_str"></span>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group  col-sm-12 ">
                                        <label class="col-sm-2 control-label">Budget Amount</label>
                                        <div class="col-sm-3" data-bind='validationOptions: { insertMessages: false }'>
                                            <input type="text" placeholder="0" class="form-control number-only" data-bind="value: myObject.dtoFocus.camp_budgetAmt">
                                            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.camp_budgetAmt"></span>
                                        </div>
                                        <label class="col-sm-2 control-label">มูลค่าขั้นต่ำต่อใบเสร็จ</label>
                                        <div class="col-sm-3" data-bind='validationOptions: { insertMessages: false }'>
                                            <input type="text" placeholder="0" class="form-control number-only" data-bind="value: myObject.dtoFocus.camp_receiptMinAmt">
                                            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.camp_receiptMinAmt"></span>
                                        </div>
                                    </div>
                                    <div class="form-group  col-sm-12 ">
                                        <label class="col-sm-2 control-label">Campaign Image</label>
                                        <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>

                                            <div class="control-label">
                                                <span class="btn btn-primary btn-sm  fileinput-button">
                                                    <i class="glyphicon glyphicon-plus"></i>
                                                    <span>Choose Image</span>
                                                    <input type="file" id="files" name="files[]" multiple data-bind="event:{change: myObject.fileSelect}" />
                                                </span>
                                            </div>
                                            <div>
                                                &nbsp;
                                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.camp_img.ko_src"></span>
                                            </div>
                                            <div class="hpanel">
                                                <div class="panel-body file-body">
                                                    <img class="thumb" data-bind="attr: {'src': myObject.dtoFocus.camp_img.ko_src }" width="128" />
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    <div class="form-group  col-sm-12 ">
                                        <label class="col-sm-2 control-label">Remark</label>
                                        <div class="col-sm-9">
                                            <textarea placeholder="Remark" rows="4" class="form-control" data-bind="value: myObject.dtoFocus.prop_remark"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div>&nbsp;</div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="hpanel hgreen">
                                            <div class="panel-heading hbuilt">
                                                <div class="pull-right">
                                                    <a class="btn btn-info btn-xs" data-bind="click: myObject.showModalAddNewProduct"><i class="fa fa-plus-square"></i> เพิ่ม Product</a>
                                                </div>
                                                รายการ Product ที่ร่วม Campaign
                                            </div>


                                            <div class="panel-body">
                                                <table id="tableResult_prod" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Code</th>
                                                            <th>Name</th>
                                                            <th>Price per Unit</th>
                                                            <th>สิทธิ/ชิ้น</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.dtoFocus.lstProduct,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                                                        <tr>
                                                            <td>
                                                                <img class="thumb" data-bind="attr: {'src': prod_fullPath }" width="128" />
                                                            </td>
                                                            <td data-bind="text: prod_code"></td>
                                                            <td data-bind="text: prod_name"></td>
                                                            <td data-bind="valueNumber: prod_pricePerUnit, numberDigit: 2"></td>
                                                            <td data-bind="valueNumber: prod_point, numberDigit: 0"></td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary btn-sm" data-bind="click: myObject.chooseForEditProduct"><i class="pe-7s-pen"></i> Edit </button>
                                                                <button type="button" class="btn btn-danger btn-sm" data-bind="click: myObject.prod_removeProduct"><i class="pe-7s-trash"></i> Remove </button>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="hpanel horange">
                                            <div class="panel-heading hbuilt">
                                                <div class="pull-right">
                                                    <a class="btn btn-info btn-xs" data-bind="click: myObject.showModalAddNewPremium"> <i class="fa fa-plus-square"></i> เพิ่มของ Premium</a>
                                                </div>
                                                รายการ Premium ที่ร่วม Campaign
                                            </div>
                                            <div class="panel-body">
                                                <table id="tableResult_prem" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Code</th>
                                                            <th>Name</th>
                                                            <th>Quantity</th>
                                                            <th>Price per Unit</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.dtoFocus.lstPremium,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                                                        <tr>
                                                            <td>
                                                                <img class="thumb" data-bind="attr: {'src': prem_fullPath }" width="128" />
                                                            </td>
                                                            <td data-bind="text: prem_code"></td>
                                                            <td data-bind="text: prem_name"></td>
                                                            <td data-bind="valueNumber: prem_outstandingQty, numberDigit: 0"></td>
                                                            <td data-bind="valueNumber: prem_pricePerUnit, numberDigit: 2"></td>
                                                            <td data-bind="text: prem_startDate_str"></td>
                                                            <td data-bind="text: prem_endDate_str"></td>
                                                            <td>
                                                                <button type="button" class="btn btn-primary btn-sm" data-bind="click: myObject.chooseForEditPremium"><i class="pe-7s-pen"></i> Edit </button>
                                                                <button type="button" class="btn btn-danger btn-sm" data-bind="click: myObject.prem_removeProduct"><i class="pe-7s-trash"></i> Remove </button>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>



                </div>


            </div>
        </div>




    </div>
    <div class="modal fade" id="modalPrem_new" role="dialog" tabindex="-1" aria-labelledby="modalPrem_new" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">เพิ่ม Premium</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-sm-12 ">
                                <label class="col-sm-3 control-label">Premium</label>
                                <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>

                                    <select class="form-control" id="premAdd" data-bind="'options': myObject.lstSel_Prem ,
                                            'optionsText':function(item) {return item.Text; },
                                            'optionsValue':function(item) {
                                                return item.Value; },
                                            'value': myObject.dtoFocus.dtoPremFocus.prem_guid"></select>
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoPremFocus.prem_guid"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12 ">
                                <label class="col-sm-3 control-label">มูลค่าต่อชิ้น</label>
                                <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                    <input type="text" placeholder="ราคาต่อชิ้น" class="form-control" data-bind="value: myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit">
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12 ">
                                <label class="col-sm-3 control-label">จำนวนทั้งหมด</label>
                                <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                    <input type="text" placeholder="Outstanding" class="form-control number-only" data-bind="value: myObject.dtoFocus.dtoPremFocus.prem_outstandingQty">
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoPremFocus.prem_outstandingQty"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12 ">
                                <label class="control-label col-md-2">Start Date : </label>
                                <div class="col-md-3" data-bind='validationOptions: { insertMessages: false }'>
                                    <input id="prem_startDate" type="text" data-date-format="dd/mm/yyyy" data-bind="datepicker: myObject.dtoFocus.dtoPremFocus.prem_startDate_str" class="form-control datepicker ">
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoPremFocus.prem_startDate_str"></span>
                                </div>
                                <label class="control-label col-md-2">End Date</label>
                                <div class="col-md-3" data-bind='validationOptions: { insertMessages: false }'>
                                    <input id="prem_endDate" type="text" data-date-format="dd/mm/yyyy" data-bind="datepicker: myObject.dtoFocus.dtoPremFocus.prem_endDate_str" class="form-control datepicker ">
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoPremFocus.prem_endDate_str"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12 ">
                                <label class="col-sm-3 control-label">Image</label>
                                <div class="col-sm-6">
                                    <img class="thumb" data-bind="attr: {'src': myObject.dtoFocus.dtoPremFocus.prem_fullPath }" height="128" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: myObject.addPrem_submit"><i class="fa fa-save"></i> Save</button>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalProd_new" role="dialog" tabindex="-1" aria-labelledby="modalProd_new" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">เพิ่ม Product</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <form>
                        <div class="row">
                            <div class="form-group col-sm-12 ">
                                <label class="col-sm-3 control-label">Product</label>
                                <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>

                                    <select class="form-control" id="prodAdd" data-bind="'options': myObject.lstSel_Prod ,
                                            'optionsText':function(item) {return item.Text; },
                                            'optionsValue':function(item) {
                                                return item.Value; },
                                            'value': myObject.dtoFocus.dtoProdFocus.prod_guid"></select>
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoProdFocus.prod_guid"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12 ">
                                <label class="col-sm-3 control-label">Price per unit</label>
                                <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                    <input type="text" placeholder="ราคาต่อหน่วย" class="form-control" data-bind="value: myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit">
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12 ">
                                <label class="col-sm-3 control-label">สิทธิ/ชิ้น</label>
                                <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                    <input type="text" placeholder="สิทธิ/ชิ้น" class="form-control number-only" data-bind="value: myObject.dtoFocus.dtoProdFocus.prod_point">
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.dtoProdFocus.prod_point"></span>
                                </div>
                            </div>
                            <div class="form-group  col-sm-12 ">
                                <label class="col-sm-3 control-label">Image</label>
                                <div class="col-sm-6">
                                    <img class="thumb" data-bind="attr: {'src': myObject.dtoFocus.dtoProdFocus.prod_fullPath }" width="128" />
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: myObject.addProd_submit"><i class="fa fa-save"></i> Save</button>

                </div>

            </div>
        </div>
    </div>

    <div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header">
                    <h4 class="modal-title">Error</h4>
                </div>
                <div class="modal-body">
                    <label id="lblerror"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {

        <script type="text/javascript">
        $(function () {
            
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.file = ko.observable();
                self.myObject.filesprogress = ko.observable(0);

                self.myObject.addPrem_submit = function () {
                    swal({
                        title: "เพิ่มข้อมูล Premium",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.dtoPremFocus.prem_guid.isValid() &&
                                self.myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit.isValid() &&
                                self.myObject.dtoFocus.dtoPremFocus.prem_outstandingQty.isValid() &&
                                self.myObject.dtoFocus.dtoPremFocus.prem_startDate_str.isValid() &&
                                self.myObject.dtoFocus.dtoPremFocus.prem_endDate_str.isValid()) {

                                var isContinue = true;
                                for (var i = 0; i < self.myObject.dtoFocus.lstPremium().length; i++) {

                                    if (self.myObject.dtoFocus.dtoPremFocus.prem_guid() == self.myObject.dtoFocus.lstPremium()[i].prem_guid()) {
                                        isContinue = false;
                                        self.myObject.dtoFocus.lstPremium()[i].prem_name(self.myObject.dtoFocus.dtoPremFocus.prem_name());
                                        self.myObject.dtoFocus.lstPremium()[i].prem_pricePerUnit(self.myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit());
                                        self.myObject.dtoFocus.lstPremium()[i].prem_outstandingQty(self.myObject.dtoFocus.dtoPremFocus.prem_outstandingQty());
                                        self.myObject.dtoFocus.lstPremium()[i].prem_fullPath(self.myObject.dtoFocus.dtoPremFocus.prem_fullPath());
                                        self.myObject.dtoFocus.lstPremium()[i].prem_startDate_str(self.myObject.dtoFocus.dtoPremFocus.prem_startDate_str());
                                        self.myObject.dtoFocus.lstPremium()[i].prem_endDate_str(self.myObject.dtoFocus.dtoPremFocus.prem_endDate_str());
                                        break;
                                    }
                                }
                                if (isContinue) {

                                    self.myObject.dtoFocus.lstPremium.push({
                                        prem_code: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_code()),
                                        prem_name: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_name()),
                                        prem_guid: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_guid()),
                                        prem_pricePerUnit: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit()),
                                        prem_outstandingQty: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_outstandingQty()),
                                        prem_fullPath: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_fullPath()),
                                        prem_startDate_str: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_startDate_str()),
                                        prem_endDate_str: ko.observable(self.myObject.dtoFocus.dtoPremFocus.prem_endDate_str()),
                                    });
                                }
                                $("#modalPrem_new").modal('hide');
                            }
                            else {
                                $("#modalPrem_new").modal('show');
                            }
                        }
                    });
                }

                self.myObject.addProd_submit = function () {
                    swal({
                        title: "เพิ่มข้อมูล Product",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.dtoProdFocus.prod_guid.isValid() &&
                                self.myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit.isValid() &&
                                self.myObject.dtoFocus.dtoProdFocus.prod_point.isValid()) {

                                var isContinue = true;
                                for (var i = 0; i < self.myObject.dtoFocus.lstProduct().length; i++) {
                                    if (self.myObject.dtoFocus.dtoProdFocus.prod_guid() == self.myObject.dtoFocus.lstProduct()[i].prod_guid()) {
                                        isContinue = false;
                                        self.myObject.dtoFocus.lstProduct()[i].prod_code(self.myObject.dtoFocus.dtoProdFocus.prod_code());
                                        self.myObject.dtoFocus.lstProduct()[i].prod_name(self.myObject.dtoFocus.dtoProdFocus.prod_name());
                                        self.myObject.dtoFocus.lstProduct()[i].prod_pricePerUnit(self.myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit());
                                        self.myObject.dtoFocus.lstProduct()[i].prod_point(self.myObject.dtoFocus.dtoProdFocus.prod_point());
                                        self.myObject.dtoFocus.lstProduct()[i].prod_fullPath(self.myObject.dtoFocus.dtoProdFocus.prod_fullPath());
                                        break;
                                    }
                                }
                                if (isContinue) {
                                    self.myObject.dtoFocus.lstProduct.push({
                                        prod_code: ko.observable(self.myObject.dtoFocus.dtoProdFocus.prod_code()),
                                        prod_name: ko.observable(self.myObject.dtoFocus.dtoProdFocus.prod_name()),
                                        prod_guid: ko.observable(self.myObject.dtoFocus.dtoProdFocus.prod_guid()),
                                        prod_pricePerUnit: ko.observable(self.myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit()),
                                        prod_point: ko.observable(self.myObject.dtoFocus.dtoProdFocus.prod_point()),
                                        prod_fullPath: ko.observable(self.myObject.dtoFocus.dtoProdFocus.prod_fullPath())
                                    });

                                }
                                $("#modalProd_new").modal('hide');
                            }
                            else {
                                $("#modalProd_new").modal('show');
                            }
                        }
                    });
                }
 
                self.myObject.fileSelect = function (elemet, event) {
                    var files = event.target.files;
                    var showPrev;

                    for (var i = 0, f; f = files[i]; i++) {

                        var reader = new FileReader();
                        var file;

                        showPrev = true;
                        if (f.type.match('image.*')) {

                            reader.onloadstart = (function (theFile) {
                                var fileLen = theFile.name.length;

                                if (theFile.size <= 2048000 && fileLen <= 30) {
                                    return function (e) {
                                        elemet.dtoFocus.camp_img.ko_showPrev(showPrev);
                                        elemet.dtoFocus.camp_img.ko_desc("");
                                        elemet.dtoFocus.camp_img.ko_file(theFile);
                                        elemet.dtoFocus.camp_img.ko_fileSize(theFile.size);

                                    };
                                }
                            })(f);

                            reader.onloadend = (function (theFile) {
                                elemet = file;
                            });

                            reader.onload = (function (theFile) {
                                var fileLen = theFile.name.length;


                                if (theFile.size > 2048000) {
                                    bootbox.alert("ไม่สามารถ upload เอกสารที่มีขนาดใหญ่เกิน 2MB ได้", function (result) {
                                        if (result != null && result == true) {
                                            return null;
                                        }
                                    });
                                } else if (fileLen > 30) {
                                    bootbox.alert("ไม่สามารถ upload เอกสารที่มีชื่อยาวเกิน 30 ตัวอักษรได้", function (result) {
                                        if (result != null && result == true) {
                                            return null;
                                        }
                                    });
                                }
                                else {
                                    return function (e) {
                                        file = elemet;
                                        file.dtoFocus.camp_img.ko_src(e.target.result);
                                    };
                                }

                            })(f);

                            reader.onprogress = function (data) {

                                if (data.lengthComputable) {

                                    var progress = parseInt(((data.loaded / data.total) * 100), 10);
                                    var progHTML = "<div style=\"width:" + progress + "%\" aria-valuemax=\"100\" aria-valuemin=\"0\" aria-valuenow=\"" + progress + "\" role=\"progressbar\" class=\" progress-bar progress-bar-success active progress-bar-striped\">" + progress + "</div>";
                                    file = elemet;//self.myObject.files()[self.myObject.files().length - 1];
                                    file.dtoFocus.camp_img.ko_filesprogress(progress);
                                    file.dtoFocus.camp_img.ko_barHTML(progHTML);

                                }
                            }
                            reader.readAsDataURL(f);
                        }
                    }
                };
                
                self.myObject.showModalAddNewProduct = function () {
                    $("#modalProd_new").modal('show');
                }

                self.myObject.showModalAddNewPremium = function () {
                    $("#modalPrem_new").modal('show');
                }

                self.myObject.chooseForEditPremium = function (item) {
                    self.myObject.dtoFocus.dtoPremFocus.prem_guid(item.prem_guid());
                    self.myObject.dtoFocus.dtoPremFocus.prem_name(item.prem_name());
                    self.myObject.dtoFocus.dtoPremFocus.prem_code(item.prem_code());
                    self.myObject.dtoFocus.dtoPremFocus.prem_startDate_str(item.prem_startDate_str());
                    self.myObject.dtoFocus.dtoPremFocus.prem_endDate_str(item.prem_endDate_str());
                    self.myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit(item.prem_pricePerUnit());
                    self.myObject.dtoFocus.dtoPremFocus.prem_outstandingQty(item.prem_outstandingQty());
                    self.myObject.dtoFocus.dtoPremFocus.prem_fullPath(item.prem_fullPath());
                    $('#premAdd').trigger('change');
                    $("#modalPrem_new").modal('show');
                }

                self.myObject.chooseForEditProduct = function (item) {
                    self.myObject.dtoFocus.dtoProdFocus.prod_guid(item.prod_guid());
                    self.myObject.dtoFocus.dtoProdFocus.prod_name(item.prod_name());
                    self.myObject.dtoFocus.dtoProdFocus.prod_code(item.prod_code());
                    self.myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit(item.prod_pricePerUnit());
                    self.myObject.dtoFocus.dtoProdFocus.prod_point(item.prod_point());
                    self.myObject.dtoFocus.dtoProdFocus.prod_fullPath(item.prod_fullPath());
                    $('#prodAdd').trigger('change');
                    $("#modalProd_new").modal('show');
                }

                self.myObject.dtoFocus.dtoPremFocus.prem_guid.subscribe(function (newValue) {
                    if (newValue != "" && newValue != undefined) {
                        $.ajax({
                            url: _app.baseURL + 'Premium/getPremByGuid',
                            type: 'POST',
                            data: JSON.stringify({ 'premGuid': newValue }),
                            dataType: "json",
                            async: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                if (result.status == 200) {
                                    self.myObject.dtoFocus.dtoPremFocus.prem_guid(result.dataResult.prem_guid);
                                    self.myObject.dtoFocus.dtoPremFocus.prem_code(result.dataResult.prem_code);
                                    self.myObject.dtoFocus.dtoPremFocus.prem_name(result.dataResult.prem_name);
                                    self.myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit(result.dataResult.prem_pricePerUnit);
                                    self.myObject.dtoFocus.dtoPremFocus.prem_outstandingQty(result.dataResult.prem_outstandingQty);
                                    self.myObject.dtoFocus.dtoPremFocus.prem_fullPath(result.dataResult.prem_fullPath);
                                }
                                else {
                                    $("#lblerror").html(result.message);
                                    $('#modal-error').modal('show');
                                }
                            },
                            error: function (jqXHR, exception, error) {
                                $("#lblerror").html(error);
                                $('#modal-error').modal('show');
                            }
                        });
                        
                    }
                }.bind(self));

                self.myObject.dtoFocus.dtoProdFocus.prod_guid.subscribe(function (newValue) {
                    if (newValue != "" && newValue != undefined) {
                        $.ajax({
                            url: _app.baseURL + 'Product/getProdByGuid',
                            type: 'POST',
                            data: JSON.stringify({ 'prodGuid': newValue }),
                            dataType: "json",
                            async: false,
                            contentType: 'application/json; charset=utf-8',
                            success: function (result) {
                                if (result.status == 200) {
                                    self.myObject.dtoFocus.dtoProdFocus.prod_guid(result.dataResult.prod_guid);
                                    self.myObject.dtoFocus.dtoProdFocus.prod_code(result.dataResult.prod_code);
                                    self.myObject.dtoFocus.dtoProdFocus.prod_name(result.dataResult.prod_name);
                                    self.myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit(result.dataResult.prod_pricePerUnit);
                                    self.myObject.dtoFocus.dtoProdFocus.prod_point(result.dataResult.prod_point);
                                    self.myObject.dtoFocus.dtoProdFocus.prod_fullPath(result.dataResult.prod_fullPath);
                                }
                                else {
                                    $("#lblerror").html(result.message);
                                    $('#modal-error').modal('show');
                                }
                            },
                            error: function (jqXHR, exception, error) {
                                $("#lblerror").html(error);
                                $('#modal-error').modal('show');
                            }
                        });
                    }
                    
                }.bind(self));

                self.myObject.saveCamp = function () {
                    swal({
                        title: "บันทึกข้อมูล Campaign",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.camp_img.ko_src.isValid() &&
                                self.myObject.dtoFocus.camp_code.isValid() &&
                                self.myObject.dtoFocus.camp_name.isValid() &&
                                self.myObject.dtoFocus.camp_startDate_str.isValid() &&
                                self.myObject.dtoFocus.camp_endDate_str.isValid() &&
                                self.myObject.dtoFocus.camp_budgetAmt.isValid() &&
                                self.myObject.dtoFocus.camp_receiptMinAmt.isValid()) {

                                var fileIndex = 0;
                                var formDataFile = new FormData();
                                formDataFile.append("file" + fileIndex, self.myObject.dtoFocus.camp_img.ko_file());


                                $.ajax({
                                    url: _app.baseURL + 'Campaign/UploadFile',
                                    type: "POST",
                                    data: formDataFile,
                                    processData: false,
                                    contentType: false,
                                    async: false,
                                    success: function (response) {
                                        if (response.status == 200) {
                                            self.myObject.dtoFocus.camp_imgUrl(response.dataResult);
                                            self.myObject.dtoFocus.camp_img.ko_file("");
                                            self.myObject.dtoFocus.camp_img.ko_src("");

                                            $.ajax({
                                                url: _app.baseURL + 'Campaign/SaveNew',
                                                type: 'POST',
                                                data: ko.toJSON(self.myObject.dtoFocus),
                                                dataType: "json",
                                                async: false,
                                                contentType: 'application/json; charset=utf-8',
                                                success: function (result) {
                                                    if (result.status == 200) {
                                                        window.location.href = result.message;
                                                    }
                                                    else {
                                                        $("#lblerror").html(result.message);
                                                        $('#modal-error').modal('show');
                                                    }
                                                },
                                                error: function (jqXHR, exception, error) {
                                                    $("#lblerror").html(error);
                                                    $('#modal-error').modal('show');
                                                }
                                            });
                                        } else {
                                            isSuccess = false;
                                            $("#lblerror").html(response.message);
                                            $('#modal-error').modal('show');
                                        }


                                    },
                                    error: function (jqXHR, exception) {
                                        isSuccess = false;
                                        $("#lblerror").html(exception);
                                        $('#modal-error').modal('show');
                                    }
                                });

                                $("#modal_new").modal('hide');
                            }
                            else {
                                $("#modal_new").modal('show');
                            }
                        }
                    });
                }
                
                self.myObject.dtoFocus.dtoPremFocus.prem_guid.extend({ required: true });
                self.myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit.extend({ required: true });
                self.myObject.dtoFocus.dtoPremFocus.prem_outstandingQty.extend({ required: true });
                self.myObject.dtoFocus.dtoPremFocus.prem_startDate_str.extend({ required: true });
                self.myObject.dtoFocus.dtoPremFocus.prem_endDate_str.extend({ required: true });

                self.myObject.dtoFocus.dtoProdFocus.prod_guid.extend({ required: true });
                self.myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit.extend({ required: true });
                self.myObject.dtoFocus.dtoProdFocus.prod_point.extend({ required: true });

                self.myObject.dtoFocus.camp_code.extend({ required: true });
                self.myObject.dtoFocus.camp_name.extend({ required: true });
                self.myObject.dtoFocus.camp_startDate_str.extend({ required: true });
                self.myObject.dtoFocus.camp_endDate_str.extend({ required: true });
                self.myObject.dtoFocus.camp_budgetAmt.extend({ required: true });
                self.myObject.dtoFocus.camp_receiptMinAmt.extend({ required: true });
                self.myObject.dtoFocus.camp_img.ko_src.extend({ required: true });
              
                self.myObject.dtoFocus.camp_code.valueHasMutated();
                self.myObject.dtoFocus.camp_name.valueHasMutated();
                self.myObject.dtoFocus.camp_startDate_str.valueHasMutated();
                self.myObject.dtoFocus.camp_endDate_str.valueHasMutated();
                self.myObject.dtoFocus.camp_budgetAmt.valueHasMutated();
                self.myObject.dtoFocus.camp_receiptMinAmt.valueHasMutated();
                self.myObject.dtoFocus.camp_img.ko_src.valueHasMutated();
            };
       
            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);


            function clearPrem() {

                self.myObject.dtoFocus.dtoPremFocus.prem_guid('');
                self.myObject.dtoFocus.dtoPremFocus.prem_pricePerUnit('');
                self.myObject.dtoFocus.dtoPremFocus.prem_outstandingQty(0);
                self.myObject.dtoFocus.dtoPremFocus.prem_img.ko_src('');
            }

            function clearProd() {

                self.myObject.dtoFocus.dtoProdFocus.prod_guid('');
                self.myObject.dtoFocus.dtoProdFocus.prod_pricePerUnit('');
                self.myObject.dtoFocus.dtoProdFocus.prod_point(0);
                self.myObject.dtoFocus.dtoProdFocus.prod_img.ko_src('');
            }

            $('#tableResult_prod').DataTable();
            $('#tableResult_prem').DataTable();

            $('#prodAdd').select2();
            $('#premAdd').select2();
            $('#startDate').datepicker({
                format: 'dd/mm/yyyy'
            });
            $('#startDate').datepicker()
                .on('changeDate', function (e) {
                    startDate = new Date(e.date.valueOf());
                    startDate.setDate(startDate.getDate(new Date(e.date.valueOf())));
                    $('#endDate').datepicker('setStartDate', startDate);
                    $('#endDate').datepicker('setDate', startDate);
                });


            $('#endDate').datepicker({
                format: 'dd/mm/yyyy'
            });

            $('#prem_startDate').datepicker({
                format: 'dd/mm/yyyy'
            });
            $('#prem_startDate').datepicker()
                .on('changeDate', function (e) {
                    startDate = new Date(e.date.valueOf());
                    startDate.setDate(startDate.getDate(new Date(e.date.valueOf())));
                    $('#prem_endDate').datepicker('setStartDate', startDate);
                    $('#prem_endDate').datepicker('setDate', startDate);
                });


            $('#prem_endDate').datepicker({
                format: 'dd/mm/yyyy'
            });

            
        });
        </script>
    }
