﻿@model ManagementSystem.Models.CampaignModel
@{
    ViewBag.Title = "Campaign";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">

            <div class="pull-right">
                <button type="button" data-bind="click: myObject.gotoCampaignReport" class="btn btn-info btn-lg">
                    <i class="pe-7s-news-paper"></i> &nbsp;Report
                </button>
                <button type="button" data-bind="click: myObject.gotoEdit" class="btn btn-primary btn-lg">
                    <i class="fa fa-pencil"></i> &nbsp;Edit
                </button>
            </div>
          


            <h2 class="font-light m-b-xs">
                Campaign Detail
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-12">
            <div class="row">

                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-sm-12 ">
                                    <label class="col-sm-2 control-label">Code</label>
                                    <div class="col-sm-3" data-bind='validationOptions: { insertMessages: false }'>
                                        <input type="text" readonly placeholder="รหัส" class="form-control" data-bind="value: myObject.camp_code">
                                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.camp_code"></span>
                                    </div>
                                    <label class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-4" data-bind='validationOptions: { insertMessages: false }'>
                                        <input type="text" readonly placeholder="ชื่อ" class="form-control" data-bind="value: myObject.camp_name">
                                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.camp_name"></span>
                                    </div>

                                </div>
                                <div class="form-group  col-sm-12 ">
                                    <label class="col-sm-2 control-label">Description</label>
                                    <div class="col-sm-9">
                                        <textarea readonly placeholder="Remark" rows="4" class="form-control" data-bind="value: myObject.camp_desc"></textarea>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-12 ">
                                    <label class="control-label col-md-2">Start Date : </label>
                                    <div class="col-md-3" data-bind='validationOptions: { insertMessages: false }'>
                                        <input id="startDate" disabled type="text" data-date-format="dd/mm/yyyy" data-bind="value: myObject.camp_startDate_str" class="form-control datepicker ">
                                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.camp_startDate_str"></span>
                                    </div>
                                    <label class="control-label col-md-2">End Date</label>
                                    <div class="col-md-3" data-bind='validationOptions: { insertMessages: false }'>
                                        <input id="endDate" disabled type="text" data-date-format="dd/mm/yyyy" data-bind="value: myObject.camp_endDate_str" class="form-control datepicker ">
                                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.camp_endDate_str"></span>
                                    </div>
                                </div>

                                <div class="form-group  col-sm-12 ">
                                    <label class="col-sm-2 control-label">Budget Amount</label>
                                    <div class="col-sm-3" data-bind='validationOptions: { insertMessages: false }'>
                                        <input type="text" readonly placeholder="0" class="form-control number-only" data-bind="value: myObject.camp_budgetAmt">
                                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.camp_budgetAmt"></span>
                                    </div>
                                    <label class="col-sm-2 control-label">มูลค่าขั้นต่ำต่อใบเสร็จ</label>
                                    <div class="col-sm-3" data-bind='validationOptions: { insertMessages: false }'>
                                        <input type="text" readonly placeholder="0" class="form-control number-only" data-bind="value: myObject.camp_receiptMinAmt">
                                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.camp_receiptMinAmt"></span>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-12 ">
                                    <label class="col-sm-2 control-label">Campaign Image</label>
                                    <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>

                                        <div class="hpanel">
                                            <div class="panel-body file-body bo">
                                                <img class="thumb" data-bind="attr: {'src': myObject.camp_fullPath }" width="300px"  />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group  col-sm-12 ">
                                    <label class="col-sm-2 control-label">Remark</label>
                                    <div class="col-sm-9">
                                        <textarea placeholder="Remark" readonly rows="4" class="form-control" data-bind="value: myObject.prop_remark"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div>&nbsp;</div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="hpanel hgreen">
                                        <div class="panel-heading hbuilt">
                                            รายการ Product ที่ร่วม Campaign
                                        </div>


                                        <div class="panel-body table-responsive">
                                            <table id="tableResult_prod" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Code</th>
                                                        <th>Name</th>
                                                        <th>Price per Unit</th>
                                                        <th>สิทธิ/ชิ้น</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstProduct,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                                                    <tr>
                                                        <td>
                                                            <img class="thumb" data-bind="attr: {'src': prod_fullPath }" width="128" />
                                                        </td>
                                                        <td data-bind="text: prod_code"></td>
                                                        <td data-bind="text: prod_name"></td>
                                                        <td data-bind="valueNumber: prod_pricePerUnit, numberDigit: 2"></td>
                                                        <td data-bind="valueNumber: prod_point, numberDigit: 0"></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="hpanel horange">
                                        <div class="panel-heading hbuilt">
                                            รายการ Premium ที่ร่วม Campaign
                                        </div>
                                        <div class="panel-body table-responsive"">
                                            <table id="tableResult_prem" class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Code</th>
                                                        <th>Name</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Quantity</th>
                                                        <th>Remaining</th>
                                                        <th>Price per Unit</th>
                                                    </tr>
                                                </thead>
                                                <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstPremium,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                                                    <tr>
                                                        <td>
                                                            <img class="thumb" data-bind="attr: {'src': prem_fullPath }" width="128" />
                                                        </td>
                                                        <td data-bind="text: prem_code"></td>
                                                        <td data-bind="text: prem_name"></td>
                                                        <td data-bind="text: prem_startDate_str"></td>
                                                        <td data-bind="text: prem_endDate_str"></td>
                                                        <td data-bind="valueNumber: prem_outstandingQty, numberDigit: 0"></td>
                                                        <td data-bind="valueNumber: prem_remainingQty, numberDigit: 0"></td>
                                                        <td data-bind="valueNumber: prem_pricePerUnit, numberDigit: 2"></td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>



            </div>


        </div>
    </div>
</div>
<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {

            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.gotoEdit = function () {
                    window.location.href = _app.baseURL + 'Campaign/Edit?campGuid=' + self.myObject.camp_guid();
                }
                self.myObject.gotoCampaignReport = function () {
                    window.open(_app.baseURL + 'Report/ByCampaign?campGuid=' + self.myObject.camp_guid(), '_blank');
                }
                
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);


            $('#tableResult_prod').DataTable();
            $('#tableResult_prem').DataTable();

        });
    </script>
}
