﻿@model ManagementSystem.Models.CampaignActionModel

@{
    ViewBag.Title = "Campaign";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Campaign
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Filters
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Code:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Campaign code" class="form-control" data-bind="value: myObject.dtoCriteria.camp_code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Premium Name:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Campaign name" class="form-control" data-bind="value: myObject.dtoCriteria.camp_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Status:</label>
                        <div class="input-group">
                            <div class="checkbox checkbox-primary">
                                <input checked id="cbAct" type="checkbox" data-bind="checked: myObject.dtoCriteria.status_act">
                                <label for="cbAct">
                                    Active
                                </label>
                            </div>
                            <div class="checkbox checkbox-primary">
                                <input id="cbIna" type="checkbox" data-bind="checked: myObject.dtoCriteria.status_ina">
                                <label for="cbIna">
                                    In Active
                                </label>
                            </div>

                        </div>
                    </div>


                    <button class="btn btn-success btn-block" data-bind="click: myObject.search"><i class="fa fa-search"></i>   Search</button>
                    <button class="btn btn-primary btn-block" data-bind="click: myObject.gotoCreate"><i class="fa fa-plus-circle"></i>   New</button>
                </div>

            </div>

        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="panel-body  table-responsive">
                            <table id="tableResult" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Budget</th>
                                        <th>มูลค่าขั้นต่ำต่อใบเสร็จ</th>
                                        <th>Status</th>
                                        <th>Remark</th>
                                        <th>Update By</th>
                                        <th>Update Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstSearchResult,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                                    <tr>
                                        <td>
                                            <img class="thumb" data-bind="attr: {'src': camp_fullPath }" width="128" />
                                        </td>
                                        <td data-bind="text: camp_code"></td>
                                        <td data-bind="text: camp_name"></td>
                                        <td data-bind="text: camp_startDate_str"></td>
                                        <td data-bind="text: camp_endDate_str"></td>
                                        <td data-bind="valueNumber: camp_budgetAmt, numberDigit: 2"></td>
                                        <td data-bind="valueNumber: camp_receiptMinAmt, numberDigit: 2"></td>
                                        <td>
                                            <span class="label label-table" data-bind="text: prop_activeStat_disp, css: {'label-success ' : prop_activeStat == 'ACT', 'label-danger' : prop_activeStat == 'INA'}"></span>
                                        </td>
                                        <td data-bind="text: prop_remark"></td>
                                        <td data-bind="text: prop_update_by_name"></td>
                                        <td data-bind="text: prop_update_date_str"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 5px;" data-bind="click: myObject.chooseForView"><i class="fa fa-eye"></i> Detail </button>
                                            <button type="button" class="btn btn-info btn-sm" data-bind="click: myObject.chooseForReport"><i class="pe-7s-news-paper"></i> รายงาน </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>



            </div>


        </div>
    </div>
</div>

<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {


            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);
                myObject.chooseForReport = function (item) {
                    window.open(_app.baseURL + 'Report/ByCampaign?campGuid=' + item.camp_guid, '_blank');
                }

                self.myObject.search = function () {
                    $.ajax({
                        url: _app.baseURL + 'Campaign/Search',
                        type: 'POST',
                        data: ko.toJSON(self.myObject.dtoCriteria),
                        dataType: "json",
                        async: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstSearchResult(result.dataResult);
                                if (self.myObject.lstSearchResult().length > 0) {
                                    $('#tableResult').DataTable();
                                }
                            }
                            else {
                                $("#lblerror").html(result.message);
                                $('#modal-error').modal('show');
                            }
                        },
                        error: function (jqXHR, exception, error) {
                            $("#lblerror").html(error);
                            $('#modal-error').modal('show');
                        }
                    });
                }

                self.myObject.chooseForView = function (item) {
                    window.location.href = _app.baseURL + 'Campaign/Detail?campGuid=' + item.camp_guid;
                }


            };


            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

            $('#tableResult').DataTable();
        });
    </script>
}
