﻿@model AttackCampaign.Models.LoginActionModel

@{
    ViewBag.Title = "Attack Campaign ";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}

<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
        <img src="~/images/logoHeader.png" width="100%" />
    </div>
</div>

<!-- Page header end -->
<!-- Content wrapper start -->
<div class="page-title">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h5 class="title" style="color: #000; font-size: 1.0em;">เข้าสู่ระบบ</h5>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-12 col-lglg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                    <label for="inputName">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control"  placeholder="Phone No" data-bind="value: myObject.dtoLogin.tel">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoLogin.tel"></span>
                </div>
                <hr class="my-10">
                <button id="btnLogin" type="button" class="btn btn-block ladda-button" data-style="zoom-out"  style="background-color: #b0c135; color: #fff" data-bind="click: myObject.login"> ยืนยัน </button>

            </div>
        </div>
    </div>
    <!-- Row end -->
</div>
<hr />
<div class="page-title">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h5 class="title" style="color: #000; font-size: 1.0em;">ลงทะเบียน</h5>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">ชื่อ</label>
                <input type="text" class="form-control" placeholder="First Name" data-bind="value: myObject.dtoReg.name">
                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoReg.name"></span>
            </div>
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">นามสกุล</label>
                <input type="text" class="form-control" placeholder="Last Name" data-bind="value: myObject.dtoReg.lastName">
                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoReg.lastName"></span>
            </div>
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">เบอร์โทรศัพท์</label>
                <input type="text" class="form-control" placeholder="Phone No" data-bind="value: myObject.dtoReg.tel">
                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoReg.tel"></span>
            </div>
            <hr class="my-10">
            <button type="button" id="btnRegist"  class="btn btn-block ladda-button" data-style="zoom-out"  style="background-color: #b0c135; color: #fff" data-bind="click: myObject.register"> ยืนยัน </button>


        </div>
    </div>
    <!-- Row end -->
</div>
<!-- Content wrapper end -->

@section Scripts {

    <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.register = function () {
                    if (self.myObject.dtoReg.tel.isValid() &&
                        self.myObject.dtoReg.lastName.isValid() &&
                        self.myObject.dtoReg.name.isValid()) {

                        var l = $('#btnRegist').ladda();
                        l.ladda('start');
                        setTimeout(function () {
                            $.ajax({
                                url: _app.baseURL + 'User/Register',
                                type: 'POST',
                                data: ko.toJSON(self.myObject.dtoReg),
                                dataType: "json",
                                async: false,
                                contentType: "application/json",
                                success: function (result) {
                                    if (result.status == 200) {
                                        window.location.href = _app.baseURL + 'Campaign/ChooseCampaign';
                                    }
                                    else {
                                        notifyMsg("error", result.message);
                                    }
                                },
                                error: function (XMLHttpRequest, jqXHR, exception) {
                                    if (XMLHttpRequest.readyState == 4) {
                                        notifyMsg("error", exception);
                                    }
                                    else if (XMLHttpRequest.readyState == 0) {
                                        $("#errorElm").show();
                                        notifyMsg("error", "เนื่องจากทำรายการเกินระยะเวลาที่กำหนด กรุณา Refresh หน้าจอ และทำรายการใหม่อีกครั้ง");
                                    }
                                    else {
                                        $("#errorElm").show();
                                        notifyMsg("error", jqXHR.statusText);
                                    }
                                }

                            });

                            l.ladda('stop');
                        }, 500)


                    }
                };

                self.myObject.login = function () {
                    if (self.myObject.dtoLogin.tel.isValid()) {
                        var l = $('#btnLogin').ladda();
                        l.ladda('start');
                        setTimeout(function () {
                            $.ajax({
                                url: _app.baseURL + 'User/Login',
                                type: 'POST',
                                data: ko.toJSON(self.myObject.dtoLogin),
                                dataType: "json",
                                async: false,
                                contentType: "application/json",
                                success: function (result) {
                                    if (result.status == 200) {
                                        window.location.href = _app.baseURL + 'Campaign/ChooseCampaign';
                                    }
                                    else {
                                        notifyMsg("error", result.message);
                                    }
                                },
                                error: function (XMLHttpRequest, jqXHR, exception) {
                                    if (XMLHttpRequest.readyState == 4) {
                                        notifyMsg("error", exception);
                                    }
                                    else if (XMLHttpRequest.readyState == 0) {
                                        notifyMsg("error", "เนื่องจากทำรายการเกินระยะเวลาที่กำหนด กรุณา Refresh หน้าจอ และทำรายการใหม่อีกครั้ง");
                                    }
                                    else {
                                        // something weird is happening
                                        notifyMsg("error", jqXHR.statusText);
                                    }
                                }

                            });
                            l.ladda('stop');
                        }, 500)

                    }
                };


                self.myObject.dtoLogin.tel.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                self.myObject.dtoReg.tel.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                self.myObject.dtoReg.lastName.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                self.myObject.dtoReg.name.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
               

                self.myObject.dtoLogin.tel.valueHasMutated();
                self.myObject.dtoReg.tel.valueHasMutated();
                self.myObject.dtoReg.lastName.valueHasMutated();
                self.myObject.dtoReg.name.valueHasMutated();
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);
        });

      

        
    </script>
}
