﻿@model ManagementSystem.Models.ReportByCamp
@using ManagementSystem.ConstUtil;
@{
    ViewBag.Title = "By Campaign";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Report by Campaign
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Campaign Detail
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Campaign Name:</label>
                        <div class="form-group">
                            <textarea readonly rows="3" placeholder="Campaign Name" class="form-control" data-bind="value: myObject.dtoCamp.camp_name"></textarea>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Start Date:</label>
                        <div class="form-group">
                            <input type="text" readonly placeholder="Start Date" class="form-control" data-bind="value: myObject.dtoCamp.camp_startDate_str">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">End Date:</label>
                        <div class="form-group">
                            <input type="text" readonly placeholder="End Date" class="form-control" data-bind="value: myObject.camp_endDate_str">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">จำนวนผู้ร่วมสนุก:</label>
                        <div class="form-group">
                            <input type="text" readonly placeholder="จำนวนผู้" class="form-control" data-bind="value: myObject.totalJoin">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="tab-base">

                                <!--Nav Tabs-->
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab-succ"> @ConstValue.Status.rec_success_disp (WIN) </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-succ-loss"> @ConstValue.Status.rec_success_disp (LOSS) </a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-rej"> @ConstValue.Status.rec_rej_disp</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-act">@ConstValue.Status.rec_act_disp (WIN)</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-act-loss">@ConstValue.Status.rec_act_disp (LOSS)</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-resv">@ConstValue.Status.rec_reserv_disp</a>
                                    </li>
                                    <li>
                                        <a data-toggle="tab" href="#tab-init">@ConstValue.Status.rec_init_disp</a>
                                    </li>
                                </ul>

                                <!--Tabs Content-->
                                <div class="tab-content">
                                    <div id="tab-succ" class="tab-pane fade active in">
                                        <div class="hpanel">
                                            <div class="panel-body table-responsive">
                                                <table id="tableResult_succ" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Campaign</th>
                                                            <th>วันที่</th>
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>ร้านค้า</th>
                                                            <th>รหัสร้านค้า</th>
                                                            <th>ชื่อลูกค้า</th>
                                                            <th>เบอร์โทรศัพท์</th>
                                                            <th>สิทธิที่ได้รับ</th>
                                                            <th>สถานะการเล่นเกมส์</th>
                                                            <th>ของรางวัลที่ได้รับ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="tab-succ-loss" class="tab-pane fade ">
                                        <div class="hpanel">
                                            <div class="panel-body table-responsive">
                                                <table id="tableResult_succ_loss" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Campaign</th>
                                                            <th>วันที่</th>
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>ร้านค้า</th>
                                                            <th>รหัสร้านค้า</th>
                                                            <th>ชื่อลูกค้า</th>
                                                            <th>เบอร์โทรศัพท์</th>
                                                            <th>สิทธิที่ได้รับ</th>
                                                            <th>สถานะการเล่นเกมส์</th>
                                                            <th>ของรางวัลที่ได้รับ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="tab-rej" class="tab-pane fade ">
                                        <div class="hpanel">
                                            <div class="panel-body table-responsive">
                                                <table id="tableResult_rej" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Campaign</th>
                                                            <th>วันที่</th>
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>ร้านค้า</th>
                                                            <th>รหัสร้านค้า</th>
                                                            <th>ชื่อลูกค้า</th>
                                                            <th>เบอร์โทรศัพท์</th>
                                                            <th>สิทธิที่ได้รับ</th>
                                                            <th>สถานะการเล่นเกมส์</th>
                                                            <th>ของรางวัลที่ได้รับ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="tab-act" class="tab-pane fade">
                                        <div class="hpanel">
                                            <div class="panel-body table-responsive">
                                                <table id="tableResult_act" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Campaign</th>
                                                            <th>วันที่</th>
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>ร้านค้า</th>
                                                            <th>รหัสร้านค้า</th>
                                                            <th>ชื่อลูกค้า</th>
                                                            <th>เบอร์โทรศัพท์</th>
                                                            <th>สิทธิที่ได้รับ</th>
                                                            <th>สถานะการเล่นเกมส์</th>
                                                            <th>ของรางวัลที่ได้รับ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div id="tab-act-loss" class="tab-pane fade">
                                        <div class="hpanel">
                                            <div class="panel-body table-responsive">
                                                <table id="tableResult_act_loss" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Campaign</th>
                                                            <th>วันที่</th>
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>ร้านค้า</th>
                                                            <th>รหัสร้านค้า</th>
                                                            <th>ชื่อลูกค้า</th>
                                                            <th>เบอร์โทรศัพท์</th>
                                                            <th>สิทธิที่ได้รับ</th>
                                                            <th>สถานะการเล่นเกมส์</th>
                                                            <th>ของรางวัลที่ได้รับ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab-resv" class="tab-pane fade">
                                        <div class="hpanel">
                                            <div class="panel-body table-responsive">
                                                <table id="tableResult_resv" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Campaign</th>
                                                            <th>วันที่</th>
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>ร้านค้า</th>
                                                            <th>รหัสร้านค้า</th>
                                                            <th>ชื่อลูกค้า</th>
                                                            <th>เบอร์โทรศัพท์</th>
                                                            <th>สิทธิที่ได้รับ</th>
                                                            <th>สถานะการเล่นเกมส์</th>
                                                            <th>ของรางวัลที่ได้รับ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                    <div id="tab-init" class="tab-pane fade">
                                        <div class="hpanel">
                                            <div class="panel-body table-responsive">
                                                <table id="tableResult_init" class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th></th>
                                                            <th>Campaign</th>
                                                            <th>วันที่</th>
                                                            <th>เลขที่ใบเสร็จ</th>
                                                            <th>ร้านค้า</th>
                                                            <th>รหัสร้านค้า</th>
                                                            <th>ชื่อลูกค้า</th>
                                                            <th>เบอร์โทรศัพท์</th>
                                                            <th>สิทธิที่ได้รับ</th>
                                                            <th>สถานะการเล่นเกมส์</th>
                                                            <th>ของรางวัลที่ได้รับ</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>








                        </div>


                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal fade hmodal-danger" id="modal-changeRecStatus" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">เปลี่ยนสถานะ / เลขที่ใบเสร็จ</h4>
            </div>
            <div class="modal-body">
                <div class="form-group ">
                    <label class="control-label">เลขที่ใบเสร็จ</label>
                    <div class="form-group">
                        <input type="text" placeholder="เลขที่ใบเสร็จ" class="form-control" data-bind="value: myObject.dtoData.custRec_recpNo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="control-label">สถานะ</label>
                    <div>
                        <select class="form-control" id="province" data-bind="
                                                                        'options':  myObject.lstSel_RecStatus,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.dtoData.custRec_status"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: myObject.updateRecStatus"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_showImg" role="dialog" tabindex="-1" aria-labelledby="modal_showImg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body-->
            <div class="modal-body">
                <img style="width: 100%; height: auto;" data-bind="attr: {'src': myObject.dtoData.custRec_fullPath }" />
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DataTables -->
    <script src="../vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- DataTables buttons scripts -->
    <script src="../vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="../vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var table_init = null;
            var table_resv = null;
            var table_act = null;
            var table_act_loss = null;
            var table_succ = null;
            var table_succ_loss = null;
            var table_rej = null;

            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                var mapping = {
                    'lstData_int': {
                        key: function (data) {
                            return ko.utils.unwrapObservable(data.custRec_guid);
                        }
                    },
                    'lstData_resv': {
                        key: function (data) {
                            return ko.utils.unwrapObservable(data.custRec_guid);
                        }
                    },
                    'lstData_act': {
                        key: function (data) {
                            return ko.utils.unwrapObservable(data.custRec_guid);
                        }
                    },
                    'lstData_succ': {
                        key: function (data) {
                            return ko.utils.unwrapObservable(data.custRec_guid);
                        }
                    }

                }

                self.myObject.updateRecStatus = function () {
                    swal({
                        title: "เปลี่ยนสถานะใบเสร็จ",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            $.ajax({
                                url: _app.baseURL + 'Report/UpdateRecStatus',
                                type: 'POST',
                                data: JSON.stringify({ 'custRecGuid': self.myObject.dtoData.custRec_guid(), 'newStat': self.myObject.dtoData.custRec_status(), 'custRecNo': self.myObject.dtoData.custRec_recpNo()  }),
                                dataType: "json",
                                async: false,
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result.status == 200) {
                                        self.myObject.reload();
                                    }
                                    else {
                                        $("#lblerror").html(result.message);
                                        $('#modal-error').modal('show');
                                    }
                                },
                                error: function (jqXHR, exception, error) {
                                    $("#lblerror").html(error);
                                    $('#modal-error').modal('show');
                                }
                            });
                            $("#modal-changeRecStatus").modal('hide');

                        }
                    });
                }

                self.myObject.deleteReceipt = function () {
                    swal({
                        title: "ลบใบเสร็จ",
                        text: "ต้องการลบรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            $.ajax({
                                url: _app.baseURL + 'Report/DeleteReceipt',
                                type: 'POST',
                                data: JSON.stringify({ 'custRecGuid': self.myObject.dtoData.custRec_guid()}),
                                dataType: "json",
                                async: false,
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result.status == 200) {
                                        self.myObject.reload();
                                    }
                                    else {
                                        $("#lblerror").html(result.message);
                                        $('#modal-error').modal('show');
                                    }
                                },
                                error: function (jqXHR, exception, error) {
                                    $("#lblerror").html(error);
                                    $('#modal-error').modal('show');
                                }
                            });

                        }
                    });
                }

                self.myObject.reload = function () {
                    self.myObject.lstData_int([]);
                    self.myObject.lstData_resv([]);
                    self.myObject.lstData_act([]);
                    self.myObject.lstData_succ([]);
                   
                    if (table_init != null) {
                        table_init.clear().draw();
                        table_init.ajax.reload(null, false);  //Reload Ajax When Search Click
                    }
                    if (table_act != null) {
                        table_act.clear().draw();
                        table_act.ajax.reload(null, false);  //Reload Ajax When Search Click
                    }
                    if (table_act_loss != null) {
                        table_act_loss.clear().draw();
                        table_act_loss.ajax.reload(null, false);  //Reload Ajax When Search Click
                    }
                    if (table_resv != null) {
                        table_resv.clear().draw();
                        table_resv.ajax.reload(null, false);  //Reload Ajax When Search Click
                    }
                    if (table_succ != null) {
                        table_succ.clear().draw();
                        table_succ.ajax.reload(null, false);  //Reload Ajax When Search Click
                    }
                    if (table_succ_loss != null) {
                        table_succ_loss.clear().draw();
                        table_succ_loss.ajax.reload(null, false);  //Reload Ajax When Search Click
                    }
                    if (table_rej != null) {
                        table_rej.clear().draw();
                        table_rej.ajax.reload(null, false);  //Reload Ajax When Search Click
                    }
                    return;
                }

            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

            if (table_init != null) {
                table_init.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }

            if (table_act != null) {
                table_act.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }

            if (table_act_loss != null) {
                table_act_loss.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }

            if (table_resv != null) {
                table_resv.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }

            if (table_succ != null) {
                table_succ.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }

            if (table_succ_loss != null) {
                table_succ_loss.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }

            if (table_rej != null) {
                table_rej.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }

            table_init = $('#tableResult_init').DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Report/SearchByCamp_init',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria_int);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = true;
                        newFormObj["camp_guid"] = formObj["camp_guid"];
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function(settings) {
                    $(".btn-changeStat").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        var custRecpNo = $(this).data("custrecpno");
                        var custStatus = $(this).data("custstatus");
                       
                        prepareChangeRecStatus(custreccuid, custRecpNo, custStatus);
                    });

                    $(".btn-customer").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Customer/Index?custGuid=' + custGuid, '_blank');
                    });
                    $(".btn-showImg").click(function () {
                        var fullpath = $(this).data("fullpath");
                        myObject.dtoData.custRec_fullPath(fullpath);
                        $('#modal_showImg').modal('show');
                    });
                    $(".btn-delt").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        myObject.dtoData.custRec_guid(custreccuid);
                        self.myObject.deleteReceipt();
                    });
                },
                "columns": [
                    {
                        "data": "custRec_fullPath",
                        "render": function (data, type, full, meta) {
                            return '<a href="#" alt="Preview Image" data-fullpath="' + data + '" class="btn-showImg" >' + '<img src = "' + data + '" width = "64px"></a>';
                        }
                    },
                    { "data": "camp_name", "orderable": false},
                    { "data": "custRec_createDate_str" , "orderable": false},
                    { "data": "custRec_recpNo", "orderable": false},
                    { "data": "store_name" , "orderable": false},
                    { "data": "custRec_branchName", "orderable": false },
                    { "data": "cust_fullName", "orderable": false },
                    { "data": "cust_tel", "orderable": false },
                    { "data": "custRec_totalGainPoint" , "orderable": false},
                    { "data": "custRec_gameResult_disp", "orderable": false },
                    { "data": "custPrem_name", "orderable": false },
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custRecGuid="' + full.custRec_guid + '" data-custRecpNo="' + full.custRec_recpNo + '" data-custStatus="' + full.custRec_status + '" class="btn btn-small btn-primary ladda-button btn-changeStat" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ปรับปรุงรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custRecGuid="' + full.custRec_guid + '" class="btn btn-small btn-danger ladda-button btn-delt" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ลบรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.custRec_custGuid + '" class="btn btn-small btn-info ladda-button btn-customer" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ข้อมูลลูกค้า</span></a>';
                        }
                    }
                ]
            });

            table_resv = $('#tableResult_resv').DataTable({
                 "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Report/SearchByCamp_resv',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria_resv);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = true;
                        newFormObj["camp_guid"] = formObj["camp_guid"];
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function(settings) {
                    $(".btn-changeStat").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        var custRecpNo = $(this).data("custrecpno");
                        var custStatus = $(this).data("custstatus");

                        prepareChangeRecStatus(custreccuid, custRecpNo, custStatus);
                    });
                    $(".btn-customer").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Customer/Index?custGuid=' + custGuid, '_blank');
                    });
                    $(".btn-showImg").click(function () {
                        var fullpath = $(this).data("fullpath");
                        myObject.dtoData.custRec_fullPath(fullpath);
                        $('#modal_showImg').modal('show');
                    });
                    $(".btn-delt").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        myObject.dtoData.custRec_guid(custreccuid);
                        self.myObject.deleteReceipt();
                    });
                },
                "columns": [
                    {
                        "data": "custRec_fullPath",
                        "render": function (data, type, full, meta) {
                            return '<a href="#" alt="Preview Image" data-fullpath="' + data + '" class="btn-showImg" >' + '<img src = "' + data + '" width = "64px"></a>';
                        }
                    },
                    { "data": "camp_name", "orderable": false},
                    { "data": "custRec_createDate_str" , "orderable": false},
                    { "data": "custRec_recpNo", "orderable": false},
                    { "data": "store_name" , "orderable": false},
                    { "data": "custRec_branchName", "orderable": false },
                    { "data": "cust_fullName", "orderable": false },
                    { "data": "cust_tel", "orderable": false },
                    { "data": "custRec_totalGainPoint" , "orderable": false},
                    { "data": "custRec_gameResult_disp", "orderable": false },
                    { "data": "custPrem_name", "orderable": false },
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custRecGuid="' + full.custRec_guid + '" data-custRecpNo="' + full.custRec_recpNo + '" data-custStatus="' + full.custRec_status + '" class="btn btn-small btn-primary ladda-button btn-changeStat" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ปรับปรุงรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custRecGuid="' + full.custRec_guid + '" class="btn btn-small btn-danger ladda-button btn-delt" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ลบรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.custRec_custGuid + '" class="btn btn-small btn-info ladda-button btn-customer" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ข้อมูลลูกค้า</span></a>';
                        }
                    }
                ]
            });

            table_act = $('#tableResult_act').DataTable({
                 "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Report/SearchByCamp_act',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria_act);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = true;
                        newFormObj["camp_guid"] = formObj["camp_guid"];
                        newFormObj["custRec_gameResult"] = "win";
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function(settings) {
                    $(".btn-changeStat").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        var custRecpNo = $(this).data("custrecpno");
                        var custStatus = $(this).data("custstatus");

                        prepareChangeRecStatus(custreccuid, custRecpNo, custStatus);
                    });
                    $(".btn-customer").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Customer/Index?custGuid=' + custGuid, '_blank');
                    });
                    $(".btn-showImg").click(function () {
                        var fullpath = $(this).data("fullpath");
                        myObject.dtoData.custRec_fullPath(fullpath);
                        $('#modal_showImg').modal('show');
                    });
                    $(".btn-delt").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        myObject.dtoData.custRec_guid(custreccuid);
                        self.myObject.deleteReceipt();
                    });
                },
                "columns": [
                    {
                        "data": "custRec_fullPath",
                        "render": function (data, type, full, meta) {
                            return '<a href="#" alt="Preview Image" data-fullpath="' + data + '" class="btn-showImg" >' + '<img src = "' + data + '" width = "64px"></a>';
                        }
                    },
                    { "data": "camp_name", "orderable": false},
                    { "data": "custRec_createDate_str" , "orderable": false},
                    { "data": "custRec_recpNo", "orderable": false},
                    { "data": "store_name" , "orderable": false},
                    { "data": "custRec_branchName", "orderable": false },
                    { "data": "cust_fullName", "orderable": false },
                    { "data": "cust_tel", "orderable": false },
                    { "data": "custRec_totalGainPoint" , "orderable": false},
                    { "data": "custRec_gameResult_disp", "orderable": false },
                    { "data": "custPrem_name", "orderable": false },
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custRecGuid="' + full.custRec_guid + '" data-custRecpNo="' + full.custRec_recpNo + '" data-custStatus="' + full.custRec_status + '" class="btn btn-small btn-primary ladda-button btn-changeStat" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ปรับปรุงรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custRecGuid="' + full.custRec_guid + '" class="btn btn-small btn-danger ladda-button btn-delt" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ลบรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.custRec_custGuid + '" class="btn btn-small btn-info ladda-button btn-customer" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ข้อมูลลูกค้า</span></a>';
                        }
                    }
                ]
            });

            table_act_loss = $('#tableResult_act_loss').DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Report/SearchByCamp_act',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria_act);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = true;
                        newFormObj["camp_guid"] = formObj["camp_guid"];
                        newFormObj["custRec_gameResult"] = "loss";
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function (settings) {
                    $(".btn-changeStat").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        var custRecpNo = $(this).data("custrecpno");
                        var custStatus = $(this).data("custstatus");

                        prepareChangeRecStatus(custreccuid, custRecpNo, custStatus);
                    });
                    $(".btn-customer").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Customer/Index?custGuid=' + custGuid, '_blank');
                    });
                    $(".btn-showImg").click(function () {
                        var fullpath = $(this).data("fullpath");
                        myObject.dtoData.custRec_fullPath(fullpath);
                        $('#modal_showImg').modal('show');
                    });
                    $(".btn-delt").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        myObject.dtoData.custRec_guid(custreccuid);
                        self.myObject.deleteReceipt();
                    });
                },
                "columns": [
                    {
                        "data": "custRec_fullPath",
                        "render": function (data, type, full, meta) {
                            return '<a href="#" alt="Preview Image" data-fullpath="' + data + '" class="btn-showImg" >' + '<img src = "' + data + '" width = "64px"></a>';
                        }
                    },
                    { "data": "camp_name", "orderable": false },
                    { "data": "custRec_createDate_str", "orderable": false },
                    { "data": "custRec_recpNo", "orderable": false },
                    { "data": "store_name", "orderable": false },
                    { "data": "custRec_branchName", "orderable": false },
                    { "data": "cust_fullName", "orderable": false },
                    { "data": "cust_tel", "orderable": false },
                    { "data": "custRec_totalGainPoint", "orderable": false },
                    { "data": "custRec_gameResult_disp", "orderable": false },
                    { "data": "custPrem_name", "orderable": false },
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custRecGuid="' + full.custRec_guid + '" data-custRecpNo="' + full.custRec_recpNo + '" data-custStatus="' + full.custRec_status + '" class="btn btn-small btn-primary ladda-button btn-changeStat" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ปรับปรุงรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custRecGuid="' + full.custRec_guid + '" class="btn btn-small btn-danger ladda-button btn-delt" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ลบรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.custRec_custGuid + '" class="btn btn-small btn-info ladda-button btn-customer" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ข้อมูลลูกค้า</span></a>';
                        }
                    }
                ]
            });

            table_succ = $('#tableResult_succ').DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Report/SearchByCamp_succ',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria_succ);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = true;
                        newFormObj["camp_guid"] = formObj["camp_guid"];
                        newFormObj["custRec_gameResult"] = "win";
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function (settings) {
                    $(".btn-changeStat").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        var custRecpNo = $(this).data("custrecpno");
                        var custStatus = $(this).data("custstatus");

                        prepareChangeRecStatus(custreccuid, custRecpNo, custStatus);
                    });

                    $(".btn-customer").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Customer/Index?custGuid=' + custGuid, '_blank');
                    });
                    $(".btn-showImg").click(function () {
                        var fullpath = $(this).data("fullpath");
                        myObject.dtoData.custRec_fullPath(fullpath);
                        $('#modal_showImg').modal('show');
                    });
                },
                "columns": [
                    {
                        "data": "custRec_fullPath",
                        "render": function (data, type, full, meta) {
                            return '<a href="#" alt="Preview Image" data-fullpath="' + data + '" class="btn-showImg" >' + '<img src = "' + data + '" width = "64px"></a>';
                        }
                    },
                    { "data": "camp_name", "orderable": false},
                    { "data": "custRec_createDate_str" , "orderable": false},
                    { "data": "custRec_recpNo", "orderable": false},
                    { "data": "store_name" , "orderable": false},
                    { "data": "custRec_branchName", "orderable": false },
                    { "data": "cust_fullName", "orderable": false },
                    { "data": "cust_tel", "orderable": false },
                    { "data": "custRec_totalGainPoint" , "orderable": false},
                    { "data": "custRec_gameResult_disp", "orderable": false },
                    { "data": "custPrem_name", "orderable": false },
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custRecGuid="' + full.custRec_guid + '" data-custRecpNo="' + full.custRec_recpNo + '" data-custStatus="' + full.custRec_status + '" class="btn btn-small btn-primary ladda-button btn-changeStat" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ปรับปรุงรายการ</span></a>' + '<br/>  ' +                               
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.custRec_custGuid + '" class="btn btn-small btn-info ladda-button btn-customer" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ข้อมูลลูกค้า</span></a>';
                        }
                    }
                ]
            });

            table_succ_loss = $('#tableResult_succ_loss').DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Report/SearchByCamp_succ',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria_succ);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = true;
                        newFormObj["camp_guid"] = formObj["camp_guid"];
                        newFormObj["custRec_gameResult"] = "loss";
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function (settings) {
                    $(".btn-changeStat").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        var custRecpNo = $(this).data("custrecpno");
                        var custStatus = $(this).data("custstatus");

                        prepareChangeRecStatus(custreccuid, custRecpNo, custStatus);
                    });

                    $(".btn-customer").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Customer/Index?custGuid=' + custGuid, '_blank');
                    });
                    $(".btn-showImg").click(function () {
                        var fullpath = $(this).data("fullpath");
                        myObject.dtoData.custRec_fullPath(fullpath);
                        $('#modal_showImg').modal('show');
                    });
                },
                "columns": [
                    {
                        "data": "custRec_fullPath",
                        "render": function (data, type, full, meta) {
                            return '<a href="#" alt="Preview Image" data-fullpath="' + data + '" class="btn-showImg" >' + '<img src = "' + data + '" width = "64px"></a>';
                        }
                    },
                    { "data": "camp_name", "orderable": false },
                    { "data": "custRec_createDate_str", "orderable": false },
                    { "data": "custRec_recpNo", "orderable": false },
                    { "data": "store_name", "orderable": false },
                    { "data": "custRec_branchName", "orderable": false },
                    { "data": "cust_fullName", "orderable": false },
                    { "data": "cust_tel", "orderable": false },
                    { "data": "custRec_totalGainPoint", "orderable": false },
                    { "data": "custRec_gameResult_disp", "orderable": false },
                    { "data": "custPrem_name", "orderable": false },
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custRecGuid="' + full.custRec_guid + '" data-custRecpNo="' + full.custRec_recpNo + '" data-custStatus="' + full.custRec_status + '" class="btn btn-small btn-primary ladda-button btn-changeStat" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ปรับปรุงรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.custRec_custGuid + '" class="btn btn-small btn-info ladda-button btn-customer" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ข้อมูลลูกค้า</span></a>';
                        }
                    }
                ]
            });

            table_rej = $('#tableResult_rej').DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Report/SearchByCamp_rej',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria_succ);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = true;
                        newFormObj["camp_guid"] = formObj["camp_guid"];
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function (settings) {
                    $(".btn-changeStat").click(function () {
                        var custreccuid = $(this).data("custrecguid");
                        var custRecpNo = $(this).data("custrecpno");
                        var custStatus = $(this).data("custstatus");

                        prepareChangeRecStatus(custreccuid, custRecpNo, custStatus);
                    });

                    $(".btn-customer").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Customer/Index?custGuid=' + custGuid, '_blank');
                    });
                    $(".btn-showImg").click(function () {
                        var fullpath = $(this).data("fullpath");
                        myObject.dtoData.custRec_fullPath(fullpath);
                        $('#modal_showImg').modal('show');
                    });
                },
                "columns": [
                    {
                        "data": "custRec_fullPath",
                        "render": function (data, type, full, meta) {
                            return '<a href="#" alt="Preview Image" data-fullpath="' + data + '" class="btn-showImg" >' + '<img src = "' + data + '" width = "64px"></a>';
                        }
                    },
                    { "data": "camp_name", "orderable": false },
                    { "data": "custRec_createDate_str", "orderable": false },
                    { "data": "custRec_recpNo", "orderable": false },
                    { "data": "store_name", "orderable": false },
                    { "data": "custRec_branchName", "orderable": false },
                    { "data": "cust_fullName", "orderable": false },
                    { "data": "cust_tel", "orderable": false },
                    { "data": "custRec_totalGainPoint", "orderable": false },
                    { "data": "custRec_gameResult_disp", "orderable": false },
                    { "data": "custPrem_name", "orderable": false },
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custRecGuid="' + full.custRec_guid + '" data-custRecpNo="' + full.custRec_recpNo + '" data-custStatus="' + full.custRec_status + '" class="btn btn-small btn-primary ladda-button btn-changeStat" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ปรับปรุงรายการ</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.custRec_custGuid + '" class="btn btn-small btn-info ladda-button btn-customer" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-pen"></i><span> ข้อมูลลูกค้า</span></a>';
                        }
                    }
                ]
            });

            function prepareChangeRecStatus(custreccuid, custRecpNo, status) {
                self.myObject.dtoData.custRec_guid(custreccuid);
                self.myObject.dtoData.custRec_recpNo(custRecpNo);
                self.myObject.dtoData.custRec_status(status);
                $('#modal-changeRecStatus').modal('show');
            }
        });
    </script>
}
