﻿@model ManagementSystem.Models.ReportByCustomer
@{
    ViewBag.Title = "By Customer";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Report by Customer
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Customer Detail
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Customer Name:</label>
                        <div class="form-group">
                            <input type="text" readonly placeholder="Customer Name" class="form-control" data-bind="value: myObject.dtoCustomer.cust_fullname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phone:</label>
                        <div class="form-group">
                            <input type="text" readonly placeholder="Phone" class="form-control" data-bind="value: myObject.dtoCustomer.cust_tel">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="panel-body table-responsive">
                            <table id="tableResult" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Campaign</th>
                                        <th>วันที่</th>
                                        <th>เลขที่ใบเสร็จ</th>
                                        <th>ร้านค้า</th>
                                        <th>รหัสร้านค้า</th>
                                        <th>สิทธิที่ได้รับ</th>
                                        <th>สถานะการเล่นเกมส์</th>
                                        <th>ของรางวัลที่ได้รับ</th>
                                        <th width="5%">Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstData,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                                    <tr>
                                        <td>
                                            <a href="#"  data-bind="click: myObject.previewImg">
                                                <img class="thumb" data-bind="attr: {'src': custRec_fullPath }" width="128" />
                                            </a>
                                        </td>
                                        <td data-bind="text: camp_name"></td>
                                        <td data-bind="text: custRec_createDate_str"></td>
                                        <td data-bind="text: custRec_recpNo"></td>
                                        <td data-bind="text: store_name"></td>
                                        <td data-bind="text: custRec_branchName"></td>
                                        <td data-bind="text: custRec_totalGainPoint"></td>
                                        <td data-bind="text: custRec_gameResult_disp"></td>
                                        <td data-bind="text: custPrem_name"></td>
                                        <td data-bind="text: prop_activeStat_disp"></td>
                                        <td>
                                            <button type="button" style="margin-bottom: 5px;" class="btn btn-primary btn-sm" data-bind="click: myObject.changeRecStatus"><i class="pe-7s-pen"></i> ปรับปรุงรายการ </button>
                                            <button type="button" class="btn btn-danger btn-sm" data-bind="click: myObject.deleteRecp"><i class="pe-7s-trash"></i> ลบรายการ </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>



            </div>


        </div>
    </div>

</div>
<div class="modal fade hmodal-danger" id="modal-changeRecStatus" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">เปลี่ยนสถานะใบเสร็จ</h4>
            </div>
            <div class="modal-body">
                <div class="form-group ">
                    <label class="control-label">เลขที่ใบเสร็จ</label>
                    <div class="form-group">
                        <input type="text" placeholder="เลขที่ใบเสร็จ" class="form-control" data-bind="value: myObject.dtoData.custRec_recpNo">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="control-label">สถานะ</label>
                    <div>
                        <select class="form-control" id="province" data-bind="
                                                                        'options':  myObject.lstSel_RecStatus,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.dtoData.custRec_status"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: myObject.updateRecStatus"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_showImg" role="dialog" tabindex="-1" aria-labelledby="modal_showImg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body-->
            <div class="modal-body">
                <img style="width: 100%; height: auto;" data-bind="attr: {'src': myObject.dtoData.custRec_fullPath }" />
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>

            </div>

        </div>
    </div>
</div>
<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {


            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                var mapping = {
                    'lstData': {
                        key: function (data) {
                            return ko.utils.unwrapObservable(data.custRec_guid);
                        }
                    }

                }


                self.myObject.changeRecStatus = function (item) {
                    self.myObject.dtoData.custRec_guid(item.custRec_guid());
                    self.myObject.dtoData.custRec_recpNo(item.custRec_recpNo());
                    self.myObject.dtoData.custRec_status(item.custRec_status());
                    $('#modal-changeRecStatus').modal('show');
                }

                self.myObject.updateRecStatus = function (item) {
                    swal({
                        title: "เปลี่ยนสถานะใบเสร็จ",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            $.ajax({
                                url: _app.baseURL + 'Report/UpdateRecStatus',
                                type: 'POST',
                                data: JSON.stringify({ 'custRecGuid': self.myObject.dtoData.custRec_guid(), 'newStat': self.myObject.dtoData.custRec_status(), 'custRecNo': self.myObject.dtoData.custRec_recpNo() }),
                                dataType: "json",
                                async: false,
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result.status == 200) {
                                        ko.mapping.fromJS(result.dataResult, mapping, self.myObject.lstData);

                                        if (self.myObject.lstData().length > 0) {
                                            $('#tableResult').DataTable();
                                        }
                                    }
                                    else {
                                        $("#lblerror").html(result.message);
                                        $('#modal-error').modal('show');
                                    }
                                },
                                error: function (jqXHR, exception, error) {
                                    $("#lblerror").html(error);
                                    $('#modal-error').modal('show');
                                }
                            });
                            $("#modal-changeRecStatus").modal('hide');

                        }
                    });
                }

                self.myObject.previewImg = function (item) {
                    myObject.dtoData.custRec_fullPath(item.custRec_fullPath());
                    $('#modal_showImg').modal('show');
                }

                self.myObject.deleteRecp = function (item) {
                    swal({
                        title: "ลบใบเสร็จ",
                        text: "ต้องการลบรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            $.ajax({
                                url: _app.baseURL + 'Report/DeleteReceipt',
                                type: 'POST',
                                data: JSON.stringify({ 'custRecGuid': item.custRec_guid()}),
                                dataType: "json",
                                async: false,
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result.status == 200) {
                                        $.ajax({
                                            url: _app.baseURL + 'Report/ByCustomer_getData',
                                            type: 'POST',
                                            data: JSON.stringify({ 'custGuid': item.custRec_custGuid() }),
                                            dataType: "json",
                                            async: false,
                                            contentType: 'application/json; charset=utf-8',
                                            success: function (result) {
                                                if (result.status == 200) {
                                                    ko.mapping.fromJS(result.dataResult, mapping, self.myObject.lstData);

                                                    if (self.myObject.lstData().length > 0) {
                                                        $('#tableResult').DataTable();
                                                    }
                                                }
                                                else {
                                                    $("#lblerror").html(result.message);
                                                    $('#modal-error').modal('show');
                                                }
                                            },
                                            error: function (jqXHR, exception, error) {
                                                $("#lblerror").html(error);
                                                $('#modal-error').modal('show');
                                            }
                                        });
                                    }
                                    else {
                                        $("#lblerror").html(result.message);
                                        $('#modal-error').modal('show');
                                    }
                                },
                                error: function (jqXHR, exception, error) {
                                    $("#lblerror").html(error);
                                    $('#modal-error').modal('show');
                                }
                            });
                            $("#modal-changeRecStatus").modal('hide');

                        }
                    });
                }
                
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

          
            $('#tableResult').DataTable();
        });
    </script>
}
