﻿@model ManagementSystem.Models.RoleActionModel
@{
    ViewBag.Title = "User Role";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                User Role
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Filters
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Name:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Role Name" class="form-control" data-bind="value: myObject.dtoCriteria.role_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Status:</label>
                        <div class="input-group">
                            <div class="checkbox checkbox-primary">
                                <input checked id="cbAct" type="checkbox" data-bind="checked: myObject.dtoCriteria.status_act">
                                <label for="cbAct">
                                    Active
                                </label>
                            </div>
                            <div class="checkbox checkbox-primary">
                                <input id="cbIna" type="checkbox" data-bind="checked: myObject.dtoCriteria.status_ina">
                                <label for="cbIna">
                                    In Active
                                </label>
                            </div>

                        </div>
                    </div>


                    <button class="btn btn-success btn-block" data-bind="click: myObject.search"><i class="fa fa-search"></i>   Search</button>
                    <button class="btn btn-primary btn-block" data-bind="click: myObject.showModalAddNewData"><i class="fa fa-plus-circle"></i>   New</button>
                </div>

            </div>

        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="panel-body  table-responsive">
                            <table id="tableResult" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Admin</th>
                                        <th width="5%">Status</th>
                                        <th>Update By</th>
                                        <th>Update Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstResult,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                scrollX: true
                                                            }
                                                        }">
                                    <tr>
                                        <td data-bind="text: role_name"></td>
                                        <td data-bind="text: role_isAdmin"></td>
                                        <td>
                                            <span class="label label-table" data-bind="text: prop_activeStat_disp, css: {'label-success ' : prop_activeStat == 'ACT', 'label-danger' : prop_activeStat == 'INA'}"></span>
                                        </td>
                                        <td data-bind="text: prop_update_by_name"></td>
                                        <td data-bind="text: prop_update_date_str"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-bind="click: myObject.chooseForEdit"><i class="pe-7s-pen"></i> Edit </button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>



            </div>


        </div>
    </div>




</div>
<div class="modal fade" id="modal_new" role="dialog" tabindex="-1" aria-labelledby="modal_new" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">เพิ่ม User Role</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-12 ">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="Role Name" class="form-control" data-bind="value: myObject.dtoFocus.role_name">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.role_name"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Admin</label>

                            <div class="col-sm-6">
                                <div class="radio">

                                    <!-- Inline radio buttons -->
                                    <input id="demo-inline-form-radio" class="magic-radio" type="radio" name="rbIsAdmin" value="Y" data-bind="checked: myObject.dtoFocus.role_isAdmin">
                                    <label for="demo-inline-form-radio">&nbsp; Yes</label>
                                    <div>&nbsp; </div>
                                    <input id="demo-inline-form-radio-2" class="magic-radio" type="radio" name="rbIsAdmin" value="N" data-bind="checked: myObject.dtoFocus.role_isAdmin">
                                    <label for="demo-inline-form-radio-2">&nbsp; No</label>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: myObject.add_submit"><i class="fa fa-save"></i> Save</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal_update" role="dialog" tabindex="-1" aria-labelledby="modal_update" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">แก้ไข User Role</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-12 ">
                            <label class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="Role Name" class="form-control" data-bind="value: myObject.dtoFocus.role_name">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.role_name"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Admin</label>
                            <div class="col-sm-9">
                                <div class="radio">
                                    <div class="row col-lg-12 col-md-12 col-sm-12">
                                        <!-- Inline radio buttons -->
                                        <input id="demo-inline-form-radio" class="col-md-1 magic-radio" type="radio" name="rbIsAdmin" value="Y" data-bind="checked: myObject.dtoFocus.role_isAdmin">
                                        <label for="demo-inline-form-radio" class="col-md-4">&nbsp; Yes</label>
                                   
                                        <input id="demo-inline-form-radio-2" class="col-md-1 magic-radio" type="radio" name="rbIsAdmin" value="N" data-bind="checked: myObject.dtoFocus.role_isAdmin">
                                        <label for="demo-inline-form-radio-2" class="col-md-4">&nbsp; No</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 ">
                            <label class="col-md-3 control-label">สถานะ</label>
                            <div class="col-md-9">
                                <div class="radio">
                                    <div class="row col-lg-12 col-md-12 col-sm-12">
                                        <!-- Inline radio buttons -->
                                        <input id="demo-inline-form-radio " class="col-md-1 magic-radio" type="radio" name="inline-form-radio" value="ACT" data-bind="checked: myObject.dtoFocus.prop_activeStat">
                                        <label for="demo-inline-form-radio" class="col-md-4">&nbsp; Active</label>
                                       
                                        <input id="demo-inline-form-radio-2" class="col-md-1 magic-radio" type="radio" name="inline-form-radio" value="INA" data-bind="checked: myObject.dtoFocus.prop_activeStat">
                                        <label for="demo-inline-form-radio-2" class="col-md-4">&nbsp; In Active</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: myObject.edit_submit"><i class="fa fa-save"></i> Save</button>

            </div>

        </div>
    </div>
</div>


<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {


            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);


                self.myObject.search = function () {
                    $.ajax({
                        url: _app.baseURL + 'Security/Role_Search',
                        type: 'POST',
                        data: ko.toJSON(self.myObject.dtoCriteria),
                        dataType: "json",
                        async: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstResult(result.dataResult);
                                if (self.myObject.lstResult().length > 0) {
                                    $('#tableResult').DataTable();
                                }
                            }
                            else {
                                $("#lblerror").html(result.message);
                                $('#modal-error').modal('show');
                            }
                        },
                        error: function (jqXHR, exception, error) {
                            $("#lblerror").html(error);
                            $('#modal-error').modal('show');
                        }
                    });
                }

                self.myObject.add_submit = function () {
                    swal({
                        title: "เพิ่มข้อมูล",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.role_name.isValid()) {

                                
                                $.ajax({
                                    url: _app.baseURL + 'Security/Role_SaveNew',
                                    type: 'POST',
                                    data: ko.toJSON(self.myObject.dtoFocus),
                                    dataType: "json",
                                    async: false,
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (result) {
                                        if (result.status == 200) {
                                            self.myObject.lstResult(result.dataResult);
                                            if (self.myObject.lstResult().length > 0) {
                                                $('#tableResult').DataTable();
                                            }
                                        }
                                        else {
                                            $("#lblerror").html(result.message);
                                            $('#modal-error').modal('show');
                                        }
                                    },
                                    error: function (jqXHR, exception, error) {
                                        $("#lblerror").html(error);
                                        $('#modal-error').modal('show');
                                    }
                                });

                                $("#modal_new").modal('hide');
                            }
                            else {
                                $("#modal_new").modal('show');
                            }
                        }
                    });
                }

                self.myObject.edit_submit = function () {
                    swal({
                        title: "แก้ไขข้อมูล",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.role_name.isValid()) {

                                $.ajax({
                                    url: _app.baseURL + 'Security/Role_SaveEdit',
                                    type: 'POST',
                                    data: ko.toJSON(self.myObject.dtoFocus),
                                    dataType: "json",
                                    async: false,
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (result) {
                                        if (result.status == 200) {
                                            self.myObject.lstResult(result.dataResult);
                                            if (self.myObject.lstResult().length > 0) {
                                                $('#tableResult').DataTable();
                                            }
                                        }
                                        else {
                                            $("#lblerror").html(result.message);
                                            $('#modal-error').modal('show');
                                        }
                                    },
                                    error: function (jqXHR, exception, error) {
                                        $("#lblerror").html(error);
                                        $('#modal-error').modal('show');
                                    }
                                });

                                $("#modal_update").modal('hide');
                            }
                            else {
                                $("#modal_update").modal('show');
                            }
                        }
                    });
                }

            
                self.myObject.showModalAddNewData = function () {
                    clear();
                    $("#modal_new").modal('show');
                }

                self.myObject.chooseForEdit = function (item) {
                    self.myObject.dtoFocus.role_guid(item.role_guid);
                    self.myObject.dtoFocus.role_name(item.role_name);
                    self.myObject.dtoFocus.role_isAdmin(item.role_isAdmin);
                    self.myObject.dtoFocus.prop_activeStat(item.prop_activeStat);
                    self.myObject.dtoFocus.prop_activeStat_act(item.prop_activeStat_act);
                    self.myObject.dtoFocus.prop_activeStat_ina(item.prop_activeStat_ina);
                    $("#modal_update").modal('show');
                }

                self.myObject.dtoFocus.role_name.extend({ required: true });

            };


            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

            function clear() {
                self.myObject.dtoFocus.role_name('');
            }

            $('#tableResult').DataTable();
        });
    </script>
}
