﻿@model ManagementSystem.Models.DashboardActionModel

    @{
        ViewBag.Title = "Dashboard";
        var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
    }
    <link rel="stylesheet" href="~/vendor/c3/c3.min.css" />
    <div id="viewContent" class="content">

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="hpanel hbgnavyblue stats">
                    <div class="panel-body" style="height: 250px">
                        <div class="text-center">
                            <h3>ลูกค้าทั้งหมด</h3>
                            <p class="text-big font-light" style="color: #fff" data-bind="text: myObject.dtoUserActivity.totalCust">
                            </p>
                            <small>
                                (เฉพาะรายการที่ผ่านการอนุมัติ)
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="hpanel hbgblue stats">
                    <div class="panel-body" style="height: 250px">
                        <div class="text-center">
                            <h3>ใบเสร็จทั้งหมด</h3>
                            <p class="text-big font-light" style="color: #fff" data-bind="text: myObject.dtoUserActivity.totalRec"> </p>
                            <small>
                                (เฉพาะรายการที่ผ่านการอนุมัติ)
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="hpanel stats">
                    <div class="panel-body h-200">
                        <div class="stats-title pull-left">
                            <h4>Users Activity</h4>
                        </div>
                        <div class="stats-icon pull-right">
                            <i class="pe-7s-share fa-2x"></i>
                        </div>
                        <div class="m-t-xl">
                            <div class="row">
                            </div>
                        </div>
                        <div class="m-t-xl">
                            <div class="row">

                                <div class="col-xs-6">
                                    <small class="stats-label">Avg Bill</small>
                                    <h4 data-bind="valueNumber: myObject.dtoUserActivity.avgBill, numberDigit: 2"></h4>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stats-label">ร่วมเล่นเกมส์</small>
                                    <h4 data-bind="text: myObject.dtoUserActivity.totalPlayGameByRec"></h4>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stats-label">%ร่วมเล่นเกมส์</small>
                                    <h4 data-bind="text: myObject.dtoUserActivity.perPlayGameByRec_str"></h4>
                                </div>
                                <div class="col-xs-6">
                                    <small class="stats-label">สิทธิสะสม</small>
                                    <h4 data-bind="text: myObject.dtoUserActivity.totalGainPoint"></h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="hpanel stats">
                    <div class="panel-body" align="center">
                        <canvas id="barByStat" height="150"></canvas>
                        <small class="stats-label">จน ใบเสร็จตามสถานะ</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="hpanel stats">
                    <div class="panel-body" align="center">
                        <canvas id="storeCateBar" height="150"></canvas>
                        <small class="stats-label">จน ใบเสร็จตามกลุ่มร้านค้า</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="hpanel stats">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12" align="center" style="vertical-align: top">
                                <div id="gauge"></div>
                                <small class="stats-label">% การได้รับสินค้า Premium</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hpanel stats">
                    <div class="panel-body" align="center">
                        <canvas id="totalCustLineChart" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hpanel stats">
                    <div class="panel-body" align="center">
                        <canvas id="otherDetBarChart" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
           
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="hpanel stats">
                    <div class="panel-body" align="center">
                        <canvas id="storeBar" height="80"></canvas>
                    </div>
                </div>
            </div>
        </div>

    </div>
            @section Scripts {
                <script src="~/vendor/d3/d3.min.js"></script>
                <script src="~/vendor/c3/c3.min.js"></script>
                <script src="~/vendor/jquery-flot/jquery.flot.js"></script>
                <script src="~/vendor/jquery-flot/jquery.flot.resize.js"></script>
                <script src="~/vendor/jquery-flot/jquery.flot.pie.js"></script>
                <script src="~/vendor/flot.curvedlines/curvedLines.js"></script>
                <script src="~/vendor/jquery.flot.spline/index.js"></script>

                <script type="text/javascript">
        $(function () {
            $(document).ready(function () {


                //============================ Gauge
                c3.generate({
                    bindto: '#gauge',
                    data: {
                        columns: [
                            ['data', myObject.dtoUserActivity.percTotalPrem()]
                        ],

                        type: 'gauge'
                    },
                    color: {
                        pattern: ['#62cb31', '#BABABA']

                    }
                });
                //// ================Bar by Stat==============
               
                var singleBarOptions = {
                    responsive: true,
                    legend: {
                        display: false
                    }
                };
                
                var singleBarData = {
                    labels: ["ผ่านการอนุมัติ", "รอการตรวจสอบ", "ไม่ผ่านการอนุมัติ"],
                    datasets: [
                        {
                            label: "สถานะ",
                            backgroundColor: ["rgba(98,203,49,0.5)", "rgba(255,140,0,0.5)", "rgba(165,42,42,0.5)"],
                            borderColor: ["rgba(98,203,49,0.8)", "rgba(255,140,0,0.8)", "rgba(165,42,42,0.8)"],
                            highlightFill: ["rgba(98,203,49,0.75)", "rgba(255,140,0,0.75)", "rgba(165,42,42,0.75)"],
                            highlightStroke: ["rgba(98,203,49,1)", "rgba(255,140,0,1)", "rgba(165,42,42,1)"],
                            borderWidth: 1,
                            data: [myObject.dtoUserActivity.totalStat_appv(), myObject.dtoUserActivity.totalStat_wait(), myObject.dtoUserActivity.totalStat_rejt()]
                        }
                    ]
                };

                var ctx = document.getElementById("barByStat").getContext("2d");
                new Chart(ctx, { type: 'bar', data: singleBarData, options: singleBarOptions });

                //// ===================== Total Cust Line Chart =====================
                
                var labels = [];
                var totalRec = [], totalCust = [], gainPoint = [], win = [];
                for (var i = 0; i < myObject.lstDateAct().length; i++) {
                    var dateData = [];
                    labels.push(myObject.lstDateAct()[i].actionDate_str());
                    totalRec.push(myObject.lstDateAct()[i].totalRec());
                    totalCust.push(myObject.lstDateAct()[i].totalCust());
                    gainPoint.push(myObject.lstDateAct()[i].totalGainPoint());
                    win.push(myObject.lstDateAct()[i].totalWin());
                }

                var sharpLineData = {
                    labels: labels,
                    datasets: [
                        {
                            label: "จน ใบเสร็จ",
                            backgroundColor: "rgba(30,144,255,0.2)",
                            data: totalRec,
                            pointBorderWidth: 1,
                            pointBackgroundColor: "rgba(30,144,255,1)",
                            pointRadius: 3,
                            pointBorderColor: '#ffffff',
                            borderWidth: 1
                        },
                        {
                            label: "จน ลูกค้า",
                            backgroundColor: "rgba(0,0,128,0.7)",
                            data: totalCust,
                            pointBorderWidth: 1,
                            pointBackgroundColor: "rgba(0,0,128,1)",
                            pointRadius: 3,
                            pointBorderColor: '#ffffff',
                            borderWidth: 1
                        }
                    ]
                };

                var sharpLineOptions = {
                    responsive: true,
                    legend: {
                        display: true
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;
                                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                                ctx.textAlign = 'center';
                                ctx.textBaseline = 'bottom';

                                this.data.datasets.forEach(function (dataset, i) {
                                    var meta = chartInstance.controller.getDatasetMeta(i);
                                    meta.data.forEach(function (bar, index) {
                                        var data = dataset.data[index];
                                        ctx.fillText(data + " คน", bar._model.x, bar._model.y );
                                    });
                                });
                            }
                                    }
                };

                var ctx = document.getElementById("totalCustLineChart").getContext("2d");
                new Chart(ctx, { type: 'line', data: sharpLineData, options: sharpLineOptions });


                 //// ===================== Bar Chart =====================
                
                var barOptions = {
                    responsive: true,
                    legend: {
                        display: true
                    },
                    animation: {
                        duration: 1,
                        onComplete: function () {
                            var chartInstance = this.chart,
                            ctx = chartInstance.ctx;
                            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
                            ctx.textAlign = 'center';
                            ctx.textBaseline = 'bottom';

                            this.data.datasets.forEach(function (dataset, i) {
                                var meta = chartInstance.controller.getDatasetMeta(i);
                                meta.data.forEach(function (bar, index) {
                                    var data = dataset.data[index];
                                    ctx.fillText( data, bar._model.x, bar._model.y - 5);
                                });
                            });
                        }
                    }
                };

                var barData = {
                    labels: labels,
                    datasets: [
                        {
                            label: "สิทธิสะสม",
                            backgroundColor: "rgba(255,232 ,115,0.5)",
                            borderColor: "rgba(255,232 ,115,0.8)",
                            highlightFill: "rgba(255,232 ,115,0.75)",
                            highlightStroke: "rgba(255,232 ,115,1)",
                            borderWidth: 1,
                            data: gainPoint
                        },
                        {
                            label: "ได้รับของรางวัล",
                            backgroundColor: "rgba(98,203,49,0.5)",
                            borderColor: "rgba(98,203,49,0.8)",
                            highlightFill: "rgba(98,203,49,0.75)",
                            highlightStroke: "rgba(98,203,49,1)",
                            borderWidth: 1,
                            data: win
                        }
                    ]
                };

                var ctx = document.getElementById("otherDetBarChart").getContext("2d");
                new Chart(ctx, { type: 'bar', data: barData, options: barOptions });

                //// ================ Store Cate Barchart==============
                var storeCate = [], totalRecByCate = [];
                for (var i = 0; i < myObject.lstByStoreCate().length; i++) {
                
                    storeCate.push(myObject.lstByStoreCate()[i].storeCateName());
                    totalRecByCate.push(myObject.lstByStoreCate()[i].totalRec());
                }

                var storeCateBarOptions = {
                    responsive: true,
                    legend: {
                        display: false
                    }
                };

                var storeCateBarData = {
                    labels: storeCate,
                    datasets: [
                        {
                            label: "จำนวน",
                            backgroundColor: ["rgba(199,21,133,0.5)", "rgba(119,136,153,0.5)"],
                            borderColor: ["rgba(199,21,133,0.8)", "rgba(119,136,153,0.8)"],
                            highlightFill: ["rgba(199,21,133,0.75)", "rgba(119,136,153,0.75)"],
                            highlightStroke: ["rgba(199,21,133,1)", "rgba(119,136,153,1)"],
                            borderWidth: 1,
                            data: totalRecByCate
                        }
                    ]
                };

                var ctx = document.getElementById("storeCateBar").getContext("2d");
                new Chart(ctx, { type: 'bar', data: storeCateBarData, options: storeCateBarOptions });

                //// ================ Store  Barchart==============
                var store = [], totalRecByStore = [], totalCustByStore = [];
                for (var i = 0; i < myObject.lstByStore().length; i++) {

                    store.push(myObject.lstByStore()[i].storeName().substring(0, 15));
                    totalRecByStore.push(myObject.lstByStore()[i].totalRec());
                    totalCustByStore.push(myObject.lstByStore()[i].totalCust());
                }

                var storeBarOptions = {
                    responsive: true,
                    legend: {
                        display: false
                    }
                };

                var storeBarData = {
                    labels: store,
                    datasets: [
                        {
                            label: "จน ใบเสร็จ",
                            backgroundColor: "rgba(30,144,255,0.5)",
                            borderColor: "rgba(30,144,255,0.8)",
                            highlightFill: "rgba(30,144,255,0.75)",
                            highlightStroke: "rgba(30,144,255,1)",
                            borderWidth: 1,
                            data: totalRecByStore
                        },
                        {
                            label: "จน ลูกค้า",
                            backgroundColor: "rgba(0,0,128,0.5)",
                            borderColor: "rgba(0,0,128,0.8)",
                            highlightFill: "rgba(0,0,128,0.75)",
                            highlightStroke: "rgba(0,0,128,1)",
                            borderWidth: 1,
                            data: totalCustByStore
                        }
                    ]
                };

                var ctx = document.getElementById("storeBar").getContext("2d");
                new Chart(ctx, { type: 'bar', data: storeBarData, options: storeBarOptions });
                
            });

            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

            };

            setWidth = function () {
                return myObject.dtoUserActivity.playRatio_str();
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

        });


                </script>
            }
