﻿@{
    ViewBag.Title = "Home Page";
}


<header id="page-top">
    <div class="container">
        <div class="heading">
            <h1>
                Welcome to ADDICT Management System
            </h1>
          
        </div>
        
    </div>
</header>