﻿@model ManagementSystem.Models.CustomerActionModel

@{
    ViewBag.Title = "Customer";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}

<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Customer
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Filters
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="control-label">ชื่อลูกค้า:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control" data-bind="value: myObject.dtoCriteria.cust_fullname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phone:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Tel." class="form-control" data-bind="value: myObject.dtoCriteria.cust_tel">
                        </div>
                    </div>
                    <button class="btn btn-success btn-block ladda-button" id="btnSearch" data-bind="click: myObject.search"><i class="fa fa-search"></i>   Search</button>
                </div>

            </div>

        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="panel-body table-responsive">
                            <table id="tableResult" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Tel.</th>
                                        <th>Addr1</th>
                                        <th>Addr2</th>
                                        <th>จังหวัด</th>
                                        <th>อำเภอ</th>
                                        <th>ตำบล</th>
                                        <th>รหัสไปรษณีย์</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="color-line"></div>
                <div class="modal-header text-center">
                    <h4 class="modal-title">Customer Info</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group ">
                        <label class="control-label">ชื่อ</label>
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control" data-bind="value: myObject.dtoFocus.cust_firstname">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">นามสกุล</label>
                        <div class="form-group">
                            <input type="text" placeholder="Surname" class="form-control" data-bind="value: myObject.dtoFocus.cust_lastname">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">เบอร์โทรศัพท์</label>
                        <div class="form-group">
                            <input type="text" readonly placeholder="Tel" class="form-control" data-bind="value: myObject.dtoFocus.cust_tel">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">ที่อยู่ 1</label>
                        <div class="form-group">
                            <input type="text" placeholder="บ้านเลขที่/หมู่บ้าน/อาคาร" class="form-control" data-bind="value: myObject.dtoFocus.cust_addr1">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">ที่อยู่ 2</label>
                        <div class="form-group">
                            <input type="text" placeholder="ถนน/หมู่" class="form-control" data-bind="value: myObject.dtoFocus.cust_addr2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="control-label">จังหวัด</label>
                        <div>
                            <select class="form-control" id="province" data-bind="
                                                                        'options':  myObject.lstSel_Province,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.dtoFocus.provinceId"></select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputName" class="control-label">อำเภอ/เขต</label>
                        <div>
                            <select class="form-control" id="district" data-bind="
                                                                        'options':  myObject.lstSel_District,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.dtoFocus.distId"></select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="inputName" class="control-label">ตำบล/แขวง</label>
                        <div>
                            <select class="form-control" id="subDistrict" data-bind="
                                                                        'options':  myObject.lstSel_SubDistrict,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.dtoFocus.subDistId"></select>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label">รหัสไปรษณีย์</label>
                        <div class="form-group">
                            <input type="text" placeholder="รหัสไปรษณีย์" class="form-control" data-bind="value: myObject.dtoFocus.subDistZipcode">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: myObject.save_submit"><i class="fa fa-save"></i> Save</button>
                </div>
            </div>
        </div>
    </div>


</div>


<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DataTables -->
    <script src="../vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="../vendor/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <!-- DataTables buttons scripts -->
    <script src="../vendor/pdfmake/build/pdfmake.min.js"></script>
    <script src="../vendor/pdfmake/build/vfs_fonts.js"></script>
    <script src="../vendor/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="../vendor/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="../vendor/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../vendor/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
          var table = null;

            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.save_submit = function () {
                    swal({
                        title: "แก้ไขข้อมูล",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            $.ajax({
                                url: _app.baseURL + 'Customer/Customer_SaveNew',
                                type: 'POST',
                                data: ko.toJSON(self.myObject.dtoFocus),
                                dataType: "json",
                                async: false,
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result.status == 200) {
                                        //self.myObject.lstResult(result.dataResult);
                                        //if (self.myObject.lstResult().length > 0) {
                                        //    $('#tableResult').DataTable();
                                        //}
                                        self.myObject.search();
                                    }
                                    else {
                                        $("#lblerror").html(result.message);
                                        $('#modal-error').modal('show');
                                    }
                                },
                                error: function (jqXHR, exception, error) {
                                    $("#lblerror").html(error);
                                    $('#modal-error').modal('show');
                                }
                            });
                            $("#modalEdit").modal('hide');
                        }
                    });
                }

                self.myObject.search = function () {
                    var l = $('#btnSearch').ladda();
                    l.ladda('start');
                    setTimeout(function () {

                        self.myObject.lstResult([]);
                        self.myObject.dtoCriteria.continueProcess= true;

                        if (table != null) {
                            table.clear().draw();
                            table.ajax.reload(null, false);  //Reload Ajax When Search Click

                            return;
                        }

                    }, 500);
                }
                  
                self.myObject.dtoFocus.provinceId.subscribe(function (newValue) {

                    $.ajax({
                        url: _app.baseURL + 'Customer/getDistrictByProvince',
                        type: 'POST',
                        data: JSON.stringify({ 'provId': newValue }),
                        dataType: "json",
                        async: false,
                        contentType: "application/json",
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstSel_District(result.dataResult);
                                self.myObject.lstDistrict(result.dataResult_2);
                            }
                            else {
                                notifyMsg("error", result.message);
                            }

                        },
                        error: function (jqXHR, exception) {
                            notifyMsg("error", jqXHR.statusText);
                        }
                    });

                    $('#amphur').trigger('change');
                }.bind(self));

                self.myObject.dtoFocus.distId.subscribe(function (newValue) {

                    $.ajax({
                        url: _app.baseURL + 'Customer/getSubDistrictByDistrict',
                        type: 'POST',
                        data: JSON.stringify({ 'districtId': newValue }),
                        dataType: "json",
                        async: false,
                        contentType: "application/json",
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstSel_SubDistrict(result.dataResult);
                                self.myObject.lstSubDistrict(result.dataResult_2);
                            }
                            else {
                                notifyMsg("error", result.message);
                            }

                        },
                        error: function (jqXHR, exception) {
                            notifyMsg("error", jqXHR.statusText);
                        }
                    });

                    $('#amphur').trigger('change');
                }.bind(self));

                self.myObject.dtoFocus.subDistId.subscribe(function (newValue) {

                    for (var i = 0; self.myObject.lstSubDistrict() != undefined && i < self.myObject.lstSubDistrict().length; i++) {
                        if (newValue != null && newValue != "") {
                            if (newValue == self.myObject.lstSubDistrict()[i].subDistId) {
                                self.myObject.dtoFocus.subDistNameTh(self.myObject.lstSubDistrict()[i].subDistNameTh);
                                self.myObject.dtoFocus.subDistNameEn(self.myObject.lstSubDistrict()[i].subDistNameEn);
                                self.myObject.dtoFocus.subDistZipcode(self.myObject.lstSubDistrict()[i].subDistZipcode);
                            }
                        } else {
                            self.myObject.dtoFocus.subDistNameTh("");
                            self.myObject.dtoFocus.subDistNameEn("");
                            self.myObject.dtoFocus.subDistZipcode("");
                        }
                    }
                }.bind(self));
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

            $("#province").select2();
            $("#district").select2();
            $("#subDistrict").select2();


            if (table != null) {
                table.fnReloadAjax(); //Reload Ajax When Search Click
                return;
            }


            table = $('#tableResult').DataTable({
                "processing": true,
                "serverSide": true,
                "ordering": true,
                "searching": false,
                "stateSave": false,
                "lengthChange": true,
                "pageLength": 10,
                "ajax": {
                    url: _app.baseURL + 'Customer/Search',
                    type: 'POST',
                    data: function (d) {
                        var formObj = ko.toJSON(self.myObject.dtoCriteria);
                        formObj = JSON.parse(formObj);
                        var newFormObj = {};
                        newFormObj["continueProcess"] = formObj["continueProcess"];
                        newFormObj["cust_fullname"] = formObj["cust_fullname"];
                        newFormObj["cust_tel"] = formObj["cust_tel"];
                        $.extend(d, newFormObj);
                    }
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "drawCallback": function(settings) {
                    var l = $('#btnSearch').ladda();
                    l.ladda('stop');

                    $(".btn-history").click(function () {
                        var custGuid = $(this).data("custguid");
                        window.open(_app.baseURL + 'Report/ByCustomer?custGuid=' + custGuid, '_blank');
                    });

                    $(".btn-edit").click(function () {
                        var custGuid = $(this).data("custguid");

                        $.ajax({
                            url: '@Url.Action("Customer_ViewDetail", "Customer")',
                            type: "POST",
                            data: JSON.stringify({ 'custGuid': custGuid}),
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            success: function (data) {

                                if (data.status == 200) {
                                    self.myObject.dtoFocus.cust_guid(data.dataResult.cust_guid);
                                    self.myObject.dtoFocus.cust_fullname(data.dataResult.cust_fullname);
                                    self.myObject.dtoFocus.cust_firstname(data.dataResult.cust_firstname);
                                    self.myObject.dtoFocus.cust_lastname(data.dataResult.cust_lastname);
                                    self.myObject.dtoFocus.cust_tel(data.dataResult.cust_tel);
                                    self.myObject.dtoFocus.cust_addr1(data.dataResult.cust_addr1);
                                    self.myObject.dtoFocus.cust_addr2(data.dataResult.cust_addr2);
                                    self.myObject.dtoFocus.provinceId(data.dataResult.provinceId); 
                                    self.myObject.dtoFocus.distId(data.dataResult.distId);
                                    self.myObject.dtoFocus.subDistId(data.dataResult.subDistId);
                                    self.myObject.dtoFocus.subDistZipcode(data.dataResult.subDistZipcode);
                                    $('#province').trigger('change');
                                    $('#district').trigger('change');
                                    $('#subDistrict').trigger('change');
                                    $('#modalEdit').modal('show');
                                }
                                else {
                                    $("#lblerror").html(data.message);
                                    $('#modal-error').modal('show');
                                }
                            },
                            error: function (result) {
                                $("#lblerror").html(result.message);
                                $('#modal-error').modal('show');
                            }
                        });
                    });
                },
                "columns": [
                    { "data": "cust_fullname", "orderable": false},
                    { "data": "cust_tel" , "orderable": false},
                    { "data": "cust_addr1", "orderable": false},
                    { "data": "cust_addr2" , "orderable": false},
                    { "data": "provinceNameTh" , "orderable": false},
                    { "data": "distNameTh" , "orderable": false},
                    { "data": "subDistNameTh", "orderable": false },
                    { "data": "subDistZipcode", "orderable": false},
                    {
                        "orderable": false,
                        "render": function (data, type, full, meta) {
                            return '<a href="javascript:void(0);" alt="History" data-custGuid="' + full.cust_guid + '" class="btn btn-small btn-primary ladda-button btn-history" style="margin-bottom: 5px" data-style="zoom-in"><i class="pe-7s-news-paper"></i><span> ประวัติการร่วมสนุก</span></a>' + '<br/>  ' +
                                '<a href="javascript:void(0);" alt="Edit Detail" data-custGuid="' + full.cust_guid + '" class="btn btn-small btn-info ladda-button btn-edit" data-style="zoom-in"><i class="pe-7s-pen"></i><span> แก้ไขข้อมูล</span></a>';
                        }
                    }
                ]
            });
        });
    </script>
}


