﻿@using AttackCampaign.Models.Session;
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="~/images/attack.ico" />
    <!-- Title -->
    <title>Attack Campaign</title>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/ladda/css")
    @Styles.Render("~/bundles/toaster/css")
    @Styles.Render("~/bundles/fileInput/css")
    <style>
        .fileInputCustom {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .stroke {
            text-shadow:
            /* first layer at 1px */
            -1px -1px 0px #084289, 0px -1px 0px #084289, 1px -1px 0px #084289, -1px 0px 0px #084289, 1px 0px 0px #084289, -1px 1px 0px #084289, 0px 1px 0px #084289, 1px 1px 0px #084289,
            /* second layer at 2px */
            -2px -2px 0px #084289, -1px -2px 0px #084289, 0px -2px 0px #084289, 1px -2px 0px #084289, 2px -2px 0px #084289, 2px -1px 0px #084289, 2px 0px 0px #084289, 2px 1px 0px #084289, 2px 2px 0px #084289, 1px 2px 0px #084289, 0px 2px 0px #084289, -1px 2px 0px #084289, -2px 2px 0px #084289, -2px 1px 0px #084289, -2px 0px 0px #084289, -2px -1px 0px #084289;
            color: white;
            font-size: 15px;
        }
        .strokepink {
            text-shadow:
            /* first layer at 1px */
            -1px -1px 0px #fff, 0px -1px 0px #fff, 1px -1px 0px #fff, -1px 0px 0px #fff, 1px 0px 0px #fff, -1px 1px 0px #fff, 0px 1px 0px #fff, 1px 1px 0px #fff,
            /* second layer at 2px */
            -2px -2px 0px #fff, -1px -2px 0px #fff, 0px -2px 0px #fff, 1px -2px 0px #fff, 2px -2px 0px #fff, 2px -1px 0px #fff, 2px 0px 0px #fff, 2px 1px 0px #fff, 2px 2px 0px #fff, 1px 2px 0px #fff, 0px 2px 0px #fff, -1px 2px 0px #fff, -2px 2px 0px #fff, -2px 1px 0px #fff, -2px 0px 0px #fff, -2px -1px 0px #fff;
            color: #EE2A7B;
            font-size: 15px;
        }
        .neon {
            color: #fff;
            text-shadow: 0 0 5px #662D91, 0 0 10px #662D91, 0 0 15px #662D91, 0 0 20px #662D91, 0 0 35px #662D91, 0 0 40px #662D91, 0 0 60px #0f0, 0 0 90px #662D91
        }

        .image-cropper {
            width: 300px;
            height: 300px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
        }

        .profile-pic {
            display: inline;
            margin: 0 auto;
       
            height: 100%;
            width: auto;
        }








    </style>
</head>
<body>
    <div class="container">

        <!-- *************
            ************ Header section start *************
            ************* -->
        <!-- Header start -->
        <header class="header">
            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6">
                    <img src="~/images/LOGO ATTACK.png" width="128" />
                </div>
                <div class="col-xl-8 col-lg-8 col-md-6 col-sm-6 col-6">
                    <!-- Header actions start -->
                    @if (Session["UserInfoSession"] != null)
                    {
                        UserDetailSession sess = (UserDetailSession)Session["UserInfoSession"];
                        <ul class="header-actions">

                            <li class="dropdown">
                                <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
                                    <span class="user-name">@sess.loginUserDetail.cust_firstName &nbsp;&nbsp; @sess.loginUserDetail.cust_lastName</span>
                                    <span><img src="~/images/Profile.png" width="42" /><span class="status busy"></span></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
                                    <div class="header-profile-actions">
                                        <div class="header-user-profile">
                                            <h5>@sess.loginUserDetail.cust_firstName &nbsp;&nbsp; @sess.loginUserDetail.cust_lastName</h5>
                                            <p>Tel - @sess.loginUserDetail.cust_tel</p>
                                        </div>
                                        <a href="~/Campaign/CustomerAddress?custGuid=@sess.loginUserDetail.cust_guid"><i class="icon-pencil"></i> แก้ไขข้อมูล</a>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    }
                    <!-- Header actions end -->
                </div>
            </div>
            <!-- Row end -->
        </header>
        <!-- Header end -->
        <!-- Navigation start -->
        <nav class="navbar navbar-expand-lg custom-navbar">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#retailAdminNavbar" aria-controls="retailAdminNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i></i>
                    <i></i>
                    <i></i>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="retailAdminNavbar">
                <ul class="navbar-nav m-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="~/Home/Index" style="font-size: 0.8em">
                            <img src="~/images/icon_home.png" class="nav-icon" />
                            หน้าหลัก
                        </a>
                    </li>
                    @if (Session["UserInfoSession"] != null)
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/Campaign/ChooseCampaign" style="font-size: 0.8em">
                                <img src="~/images/icon_playgame.png" class="nav-icon" />
                                ร่วมสนุก
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Campaign/History" style="font-size: 0.8em">
                                <img src="~/images/icon_history.png" class="nav-icon" />
                                ประวัติ
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Campaign/SampleSlip" style="font-size: 0.8em">
                                <img src="~/images/icon_sample.png" class="nav-icon" />
                                ตัวอย่างใบเสร็จ
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="~/User/Login" style="font-size: 0.8em">
                                <img src="~/images/icon_user.png" class="nav-icon" />
                                เข้าสู่ระบบ
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <!-- Navigation end -->
        <!-- *************
            ************ Header section end *************
            ************* -->
        <!-- *************
            ************ Main container start *************
            ************* -->
        <div class="main-container">

            @RenderBody()

        </div>
        <!-- *************
            ************ Main container end *************s
            ************* -->

    </div>
    
    <div>
        <a href="#" class="btn btn-light btn-rounded" id="scroll" style="display: none;"><span></span></a>
        <img id="3" src="~/images/model.png" width="80" border="0" style="float:right; z-index: 150; position: relative;" />
    </div>


    <footer class="content-wrapper" align="center" style="top: 20px; position: relative;z-index: 1;border-radius: 0px 0px 0px 0px;">
        <div style="font-size: 0.8em;padding-left: 80px;">
            <img src="~/images/phone.png" width="20" /> 02-050-6800
        </div>
    </footer>

    @*<footer class="content-wrapper" align="center" style="border-radius: 0px 0px 0px 0px;">
            <div style="font-size: 0.8em;">
                <img src="~/images/phone.png" width="20" /> 02-050-6800
               <img id="3" src="~/images/model.png" width="40" border="0" style=" z-index: 150; position: relative;" />
            </div>
        </footer>*@





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout/js")
    @Scripts.Render("~/bundles/numberOnly/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/ladda/js")
    @Scripts.Render("~/bundles/toaster/js")
    @Scripts.Render("~/bundles/fileInput/js")
    @Scripts.Render("~/bundles/theme/js")
</body>
</html>

<script type="text/javascript">

    var _app = {
        "baseURL": "@Url.Content("~/")"
    };
    $(document).ready(function () {
      

        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $('#scroll').fadeIn();
            } else {
                $('#scroll').fadeOut();
            }
        });
        $('#scroll').click(function () {
            $("html, body").animate({ scrollTop: 0 }, 600);
            return false;
        });


    });

    function notifyMsg(type, message) {
        notify({
            type: type, //alert | success | error | warning | info
            title: "",
            message: message,
            position: {
                x: "center", //right | left | center
                y: "top" //top | bottom | center
            },
            icon: '<img src="../images/paper_plane.png" />', //<i>
            size: "normal", //normal | full | small
            overlay: false, //true | false
            closeBtn: true, //true | false
            overflowHide: false, //true | false
            spacing: 20, //number px
            theme: "default", //default | dark-theme
            autoHide: true, //true | false
            delay: 5000, //number ms
            onShow: null, //function
            onClick: null, //function
            onHide: null, //function
            template: '<div class="notify"><div class="notify-text"></div></div>'
        });
    }

</script>
@RenderSection("scripts", required: false)
