﻿@model ManagementSystem.Models.MsgActionModel

@{
    ViewBag.Title = "Instant Message";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}

<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Instant Message
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Filters
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Code:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Message Code" class="form-control" data-bind="value: myObject.dtoCriteria.msg_code">
                        </div>
                    </div>
                    <button class="btn btn-success btn-block" data-bind="click: myObject.search"><i class="fa fa-search"></i>   Search</button>
                </div>

            </div>

        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="panel-body">
                            <table id="tableResult" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Value</th>
                                        <th>Remark</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstResult,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                scrollX: true
                                                            }
                                                        }">
                                    <tr>
                                        <td data-bind="text: msg_code"></td>
                                        <td data-bind="text: msg_value"></td>
                                        <td data-bind="text: prop_remark"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-bind="click: myObject.chooseForEdit"><i class="pe-7s-pen"></i> Edit </button>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




</div>
<div class="modal fade" id="modal_update" role="dialog" tabindex="-1" aria-labelledby="modal_update" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">แก้ไข Instant Message</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Message Code</label>
                            <div class="col-sm-6" >
                                <input readonly type="text" placeholder="Code" class="form-control" data-bind="value: myObject.dtoFocus.msg_code">
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Message Value</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="Value" class="form-control" data-bind="value: myObject.dtoFocus.msg_value">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.msg_value"></span>
                            </div>
                        </div>

                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Remark</label>
                            <div class="col-sm-6">
                                <textarea placeholder="Remark" rows="4" class="form-control" data-bind="value: myObject.dtoFocus.prop_remark"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: myObject.edit_submit"><i class="fa fa-save"></i> Save</button>

            </div>

        </div>
    </div>
</div>


<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {


            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);


                self.myObject.search = function () {
                    $.ajax({
                        url: _app.baseURL + 'Msg/Search',
                        type: 'POST',
                        data: ko.toJSON(self.myObject.dtoCriteria),
                        dataType: "json",
                        async: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstResult(result.dataResult);
                                if (self.myObject.lstResult().length > 0) {
                                    $('#tableResult').DataTable();
                                }
                            }
                            else {
                                $("#lblerror").html(result.message);
                                $('#modal-error').modal('show');
                            }
                        },
                        error: function (jqXHR, exception, error) {
                            $("#lblerror").html(error);
                            $('#modal-error').modal('show');
                        }
                    });
                }

                self.myObject.edit_submit = function () {
                    swal({
                        title: "แก้ไขข้อมูล",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.msg_value.isValid() ) {
                                $.ajax({
                                    url: _app.baseURL + 'Msg/SaveEdit',
                                    type: 'POST',
                                    data: ko.toJSON(self.myObject.dtoFocus),
                                    dataType: "json",
                                    async: false,
                                    contentType: 'application/json; charset=utf-8',
                                    success: function (result) {
                                        if (result.status == 200) {
                                            self.myObject.lstResult(result.dataResult);
                                            if (self.myObject.lstResult().length > 0) {
                                                $('#tableResult').DataTable();
                                            }
                                        }
                                        else {
                                            $("#lblerror").html(result.message);
                                            $('#modal-error').modal('show');
                                        }
                                    },
                                    error: function (jqXHR, exception, error) {
                                        $("#lblerror").html(error);
                                        $('#modal-error').modal('show');
                                    }
                                });
                               
                                $("#modal_update").modal('hide');
                            }
                            else {
                                $("#modal_update").modal('show');
                            }
                        }
                    });
                }

            
                self.myObject.chooseForEdit = function (item) {
                    self.myObject.dtoFocus.msg_guid(item.msg_guid);
                    self.myObject.dtoFocus.msg_code(item.msg_code);
                    self.myObject.dtoFocus.msg_value(item.msg_value);
                    self.myObject.dtoFocus.prop_remark(item.prop_remark);
                    $("#modal_update").modal('show');
                }

                self.myObject.dtoFocus.msg_value.extend({ required: true });

            };


            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

            $('#tableResult').DataTable();
        });
    </script>
}


