﻿@model ManagementSystem.Models.ProductActionModel
@{
    ViewBag.Title = "Product";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div class="normalheader">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                Product
            </h2>
        </div>
    </div>
</div>

<div id="viewContent" class="content">

    <div class="row">
        <div class="col-md-3">
            <div class="hpanel">
                <div class="panel-body">
                    <div class="m-b-md">
                        <h4>
                            Filters
                        </h4>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Product Code:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Product code" class="form-control" data-bind="value: myObject.dtoCriteria.prod_code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Product Name:</label>
                        <div class="form-group">
                            <input type="text" placeholder="Product name" class="form-control" data-bind="value: myObject.dtoCriteria.prod_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Status:</label>
                        <div class="input-group">
                            <div class="checkbox checkbox-primary">
                                <input checked id="cbAct" type="checkbox" data-bind="checked: myObject.dtoCriteria.status_act">
                                <label for="cbAct">
                                    Active
                                </label>
                            </div>
                            <div class="checkbox checkbox-primary">
                                <input id="cbIna" type="checkbox" data-bind="checked: myObject.dtoCriteria.status_ina">
                                <label for="cbIna">
                                    In Active
                                </label>
                            </div>

                        </div>
                    </div>


                    <button class="btn btn-success btn-block" data-bind="click: myObject.search"><i class="fa fa-search"></i>   Search</button>
                    <button class="btn btn-primary btn-block" data-bind="click: myObject.showModalAddNewData"><i class="fa fa-plus-circle"></i>   New</button>
                </div>

            </div>

        </div>
        <div class="col-md-9">
            <div class="row">

                <div class="col-lg-12">

                    <div class="hpanel">
                        <div class="panel-body">
                            <table id="tableResult" class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Price per Unit</th>
                                        <th width="5%">Status</th>
                                        <th>Remark</th>
                                        <th>Update By</th>
                                        <th>Update Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstResult,
                                                            options: {
                                                                deferRender: true,
                                                                paging: true,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                                    <tr>
                                        <td>
                                            <img class="thumb" data-bind="attr: {'src': prod_fullPath }" width="128" />
                                        </td>
                                        <td data-bind="text: prod_code"></td>
                                        <td  data-bind="text: prod_name"></td>
                                        <td data-bind="valueNumber: prod_pricePerUnit, numberDigit: 2"></td>
                                        <td>
                                            <span class="label label-table" data-bind="text: prop_activeStat_disp, css: {'label-success ' : prop_activeStat == 'ACT', 'label-danger' : prop_activeStat == 'INA'}"></span>
                                        </td>
                                        <td data-bind="text: prop_remark"></td>
                                        <td data-bind="text: prop_update_by_name"></td>
                                        <td data-bind="text: prop_update_date_str"></td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" data-bind="click: myObject.chooseForEdit"><i class="pe-7s-pen"></i> Edit </button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>



            </div>


        </div>
    </div>




</div>
<div class="modal fade" id="modal_new" role="dialog" tabindex="-1" aria-labelledby="modal_new" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">เพิ่ม Product</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-12 ">
                            <label class="col-sm-3 control-label">Product Code</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="รหัส" class="form-control" data-bind="value: myObject.dtoFocus.prod_code">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_code"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Product Name</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="ชื่อ" class="form-control" data-bind="value: myObject.dtoFocus.prod_name">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_name"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Price per unit</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="ราคาต่อหน่วย" class="form-control number-only" data-bind="value: myObject.dtoFocus.prod_pricePerUnit">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_pricePerUnit"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Image</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>

                                <div class="control-label">
                                    <span class="btn btn-primary btn-sm  fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Choose Image</span>
                                        <input type="file" id="files" name="files[]" multiple data-bind="event:{change: myObject.fileSelect}" />
                                    </span>

                                </div>
                                <div>
                                    &nbsp;
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_img.ko_src"></span>
                                </div>
                                <div class="hpanel">
                                    <div class="panel-body file-body">
                                        <img class="thumb" data-bind="attr: {'src': myObject.dtoFocus.prod_img.ko_src }" width="128" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Remark</label>
                            <div class="col-sm-6">
                                <textarea placeholder="Remark" rows="4" class="form-control" data-bind="value: myObject.dtoFocus.prop_remark"></textarea>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: myObject.add_submit"><i class="fa fa-save"></i> Save</button>

            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modal_update" role="dialog" tabindex="-1" aria-labelledby="modal_new" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header -->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">แก้ไข Product</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-sm-12 ">
                            <label class="col-sm-3 control-label">Product Code</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="รหัส" class="form-control" data-bind="value: myObject.dtoFocus.prod_code">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_code"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Product Name</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="ชื่อ" class="form-control" data-bind="value: myObject.dtoFocus.prod_name">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_name"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Price per unit</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>
                                <input type="text" placeholder="ราคาต่อหน่วย" class="form-control number-only" data-bind="value: myObject.dtoFocus.prod_pricePerUnit">
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_pricePerUnit"></span>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Image</label>
                            <div class="col-sm-6" data-bind='validationOptions: { insertMessages: false }'>

                                <div class="control-label">
                                    <span class="btn btn-primary btn-sm  fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Change Image</span>
                                        <input type="file" id="files" name="files[]" multiple data-bind="event:{change: myObject.fileSelect}" />

                                    </span>

                                </div>
                                <div>
                                    &nbsp;
                                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoFocus.prod_img.ko_src"></span>
                                </div>
                                <div class="hpanel">
                                    <div class="panel-body file-body">
                                        <img class="thumb" data-bind="attr: {'src': myObject.dtoFocus.prod_img.ko_src }" width="128" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-12 ">
                            <label class="col-sm-3 control-label">Remark</label>
                            <div class="col-sm-6">
                                <textarea placeholder="Remark" rows="4" class="form-control" data-bind="value: myObject.dtoFocus.prop_remark"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 ">
                            <label class="col-md-3 control-label">สถานะ</label>
                            <div class="col-md-9">
                                <div class="radio">

                                    <!-- Inline radio buttons -->
                                    <input id="demo-inline-form-radio" class="magic-radio" type="radio" name="inline-form-radio" value="ACT" data-bind="checked: myObject.dtoFocus.prop_activeStat">
                                    <label for="demo-inline-form-radio">&nbsp; Active</label>
                                    <div>&nbsp; </div>
                                    <input id="demo-inline-form-radio-2" class="magic-radio" type="radio" name="inline-form-radio" value="INA" data-bind="checked: myObject.dtoFocus.prop_activeStat">
                                    <label for="demo-inline-form-radio-2">&nbsp; In Active</label>


                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: myObject.edit_submit"><i class="fa fa-save"></i> Save</button>

            </div>

        </div>
    </div>
</div>


<div class="modal fade hmodal-danger" id="modal-error" tabindex="999" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <label id="lblerror"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {


            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.file = ko.observable();
                self.myObject.filesprogress = ko.observable(0);

                self.myObject.search = function () {
                    $.ajax({
                        url: _app.baseURL + 'Product/Search',
                        type: 'POST',
                        data: ko.toJSON(self.myObject.dtoCriteria),
                        dataType: "json",
                        async: false,
                        contentType: 'application/json; charset=utf-8',
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstResult(result.dataResult);
                                if (self.myObject.lstResult().length > 0) {
                                    $('#tableResult').DataTable();
                                }
                            }
                            else {
                                $("#lblerror").html(result.message);
                                $('#modal-error').modal('show');
                            }
                        },
                        error: function (jqXHR, exception, error) {
                            $("#lblerror").html(error);
                            $('#modal-error').modal('show');
                        }
                    });
                }

                self.myObject.add_submit = function () {
                    swal({
                        title: "เพิ่มข้อมูล",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.prod_img.ko_src.isValid() &&
                                self.myObject.dtoFocus.prod_pricePerUnit.isValid() &&
                                self.myObject.dtoFocus.prod_name.isValid() &&
                                self.myObject.dtoFocus.prod_code.isValid()) {

                                var fileIndex = 0;
                                var formDataFile = new FormData();
                                formDataFile.append("file" + fileIndex, self.myObject.dtoFocus.prod_img.ko_file());


                                $.ajax({
                                    url: _app.baseURL + 'Product/UploadFile',
                                    type: "POST",
                                    data: formDataFile,
                                    processData: false,
                                    contentType: false,
                                    async: false,
                                    success: function (response) {
                                        if (response.status == 200) {
                                            self.myObject.dtoFocus.prod_imgUrl(response.dataResult);
                                            self.myObject.dtoFocus.prod_img.ko_file("");

                                            $.ajax({
                                                url: _app.baseURL + 'Product/SaveNew',
                                                type: 'POST',
                                                data: ko.toJSON(self.myObject.dtoFocus),
                                                dataType: "json",
                                                async: false,
                                                contentType: 'application/json; charset=utf-8',
                                                success: function (result) {
                                                    if (result.status == 200) {
                                                        self.myObject.lstResult(result.dataResult);
                                                        if (self.myObject.lstResult().length > 0) {
                                                            $('#tableResult').DataTable();
                                                        }
                                                    }
                                                    else {
                                                        $("#lblerror").html(result.message);
                                                        $('#modal-error').modal('show');
                                                    }
                                                },
                                                error: function (jqXHR, exception, error) {
                                                    $("#lblerror").html(error);
                                                    $('#modal-error').modal('show');
                                                }
                                            });
                                        } else {
                                            isSuccess = false;
                                            $("#lblerror").html(response.message);
                                            $('#modal-error').modal('show');
                                        }


                                    },
                                    error: function (jqXHR, exception) {
                                        isSuccess = false;
                                        $("#lblerror").html(exception);
                                        $('#modal-error').modal('show');
                                    }
                                });

                                $("#modal_new").modal('hide');
                            }
                            else {
                                $("#modal_new").modal('show');
                            }
                        }
                    });
                }

                self.myObject.edit_submit = function () {
                    swal({
                        title: "แก้ไขข้อมูล",
                        text: "ต้องการบันทึกรายการ ? ",
                        type: "info",
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#00004d",
                        showLoaderOnConfirm: true,
                        showCancelButton: true,
                        allowOutsideClick: false,
                        showLoaderOnConfirm: true,
                        preConfirm: function () {
                            return new Promise(function (resolve) {
                                setTimeout(function () {
                                    resolve()
                                }, 500)
                            })
                        }
                    }).then(function (result) {
                        if (result) {
                            if (self.myObject.dtoFocus.prod_img.ko_src.isValid() &&
                                self.myObject.dtoFocus.prod_pricePerUnit.isValid() &&
                                self.myObject.dtoFocus.prod_name.isValid() &&
                                self.myObject.dtoFocus.prod_code.isValid()) {

                                if (self.myObject.dtoFocus.prod_img.ko_file() != undefined && self.myObject.dtoFocus.prod_img.ko_file() != "") {
                                    var fileIndex = 0;
                                    var formDataFile = new FormData();
                                    formDataFile.append("file" + fileIndex, self.myObject.dtoFocus.prod_img.ko_file());
                                    formDataFile.append("file" + fileIndex, self.myObject.dtoFocus.prod_imgUrl());

                                    $.ajax({
                                        url: _app.baseURL + 'Product/UploadFile_Edit',
                                        type: "POST",
                                        data: formDataFile,
                                        processData: false,
                                        contentType: false,
                                        async: false,
                                        success: function (response) {
                                            if (response.status == 200) {
                                                self.myObject.dtoFocus.prod_imgUrl(response.dataResult);
                                                self.myObject.dtoFocus.prod_img.ko_file("");

                                                $.ajax({
                                                    url: _app.baseURL + 'Product/SaveEdit',
                                                    type: 'POST',
                                                    data: ko.toJSON(self.myObject.dtoFocus),
                                                    dataType: "json",
                                                    async: false,
                                                    contentType: 'application/json; charset=utf-8',
                                                    success: function (result) {
                                                        if (result.status == 200) {
                                                            self.myObject.lstResult(result.dataResult);
                                                            if (self.myObject.lstResult().length > 0) {
                                                                $('#tableResult').DataTable();
                                                            }
                                                        }
                                                        else {
                                                            $("#lblerror").html(result.message);
                                                            $('#modal-error').modal('show');
                                                        }
                                                    },
                                                    error: function (jqXHR, exception, error) {
                                                        $("#lblerror").html(error);
                                                        $('#modal-error').modal('show');
                                                    }
                                                });
                                            } else {
                                                isSuccess = false;
                                                $("#lblerror").html(response.message);
                                                $('#modal-error').modal('show');
                                            }


                                        },
                                        error: function (jqXHR, exception) {
                                            isSuccess = false;
                                            $("#lblerror").html(exception);
                                            $('#modal-error').modal('show');
                                        }
                                    });
                                } else {
                                    $.ajax({
                                        url: _app.baseURL + 'Product/SaveEdit',
                                        type: 'POST',
                                        data: ko.toJSON(self.myObject.dtoFocus),
                                        dataType: "json",
                                        async: false,
                                        contentType: 'application/json; charset=utf-8',
                                        success: function (result) {
                                            if (result.status == 200) {
                                                self.myObject.lstResult(result.dataResult);
                                                if (self.myObject.lstResult().length > 0) {
                                                    $('#tableResult').DataTable();
                                                }
                                            }
                                            else {
                                                $("#lblerror").html(result.message);
                                                $('#modal-error').modal('show');
                                            }
                                        },
                                        error: function (jqXHR, exception, error) {
                                            $("#lblerror").html(error);
                                            $('#modal-error').modal('show');
                                        }
                                    });
                                }
                               


                                

                                $("#modal_update").modal('hide');
                            }
                            else {
                                $("#modal_update").modal('show');
                            }
                        }
                    });
                }

                self.myObject.fileSelect = function (elemet, event) {
                    var files = event.target.files;
                    var showPrev;

                    for (var i = 0, f; f = files[i]; i++) {

                        var reader = new FileReader();
                        var file;

                        showPrev = true;
                        if (f.type.match('image.*')) {

                            reader.onloadstart = (function (theFile) {
                                var fileLen = theFile.name.length;

                                if (theFile.size <= 2048000 && fileLen <= 30) {
                                    return function (e) {
                                        elemet.dtoFocus.prod_img.ko_showPrev(showPrev);
                                        elemet.dtoFocus.prod_img.ko_desc("");
                                        elemet.dtoFocus.prod_img.ko_file(theFile);
                                        elemet.dtoFocus.prod_img.ko_fileSize(theFile.size);

                                    };
                                }
                            })(f);

                            reader.onloadend = (function (theFile) {
                                elemet = file;
                            });

                            reader.onload = (function (theFile) {
                                var fileLen = theFile.name.length;


                                if (theFile.size > 2048000) {
                                    bootbox.alert("ไม่สามารถ upload เอกสารที่มีขนาดใหญ่เกิน 2MB ได้", function (result) {
                                        if (result != null && result == true) {
                                            return null;
                                        }
                                    });
                                } else if (fileLen > 30) {
                                    bootbox.alert("ไม่สามารถ upload เอกสารที่มีชื่อยาวเกิน 30 ตัวอักษรได้", function (result) {
                                        if (result != null && result == true) {
                                            return null;
                                        }
                                    });
                                }
                                else {
                                    return function (e) {
                                        file = elemet;
                                        file.dtoFocus.prod_img.ko_src(e.target.result);
                                    };
                                }

                            })(f);

                            reader.onprogress = function (data) {

                                if (data.lengthComputable) {

                                    var progress = parseInt(((data.loaded / data.total) * 100), 10);
                                    var progHTML = "<div style=\"width:" + progress + "%\" aria-valuemax=\"100\" aria-valuemin=\"0\" aria-valuenow=\"" + progress + "\" role=\"progressbar\" class=\" progress-bar progress-bar-success active progress-bar-striped\">" + progress + "</div>";
                                    file = elemet;//self.myObject.files()[self.myObject.files().length - 1];
                                    file.dtoFocus.prod_img.ko_filesprogress(progress);
                                    file.dtoFocus.prod_img.ko_barHTML(progHTML);

                                }
                            }
                            reader.readAsDataURL(f);
                        }
                    }
                };

                self.myObject.showModalAddNewData = function () {
                    clear();
                    $("#modal_new").modal('show');
                }

                self.myObject.chooseForEdit = function (item) {
                    self.myObject.dtoFocus.prod_guid(item.prod_guid);
                    self.myObject.dtoFocus.prod_name(item.prod_name);
                    self.myObject.dtoFocus.prod_code(item.prod_code);
                    self.myObject.dtoFocus.prod_pricePerUnit(item.prod_pricePerUnit);
                    self.myObject.dtoFocus.prop_remark(item.prop_remark);
                    self.myObject.dtoFocus.prop_activeStat(item.prop_activeStat);
                    self.myObject.dtoFocus.prop_activeStat_act(item.prop_activeStat_act);
                    self.myObject.dtoFocus.prop_activeStat_ina(item.prop_activeStat_ina);
                    self.myObject.dtoFocus.prod_img.ko_src(item.prod_fullPath);
                    self.myObject.dtoFocus.prod_imgUrl(item.prod_imgUrl);
                    $("#modal_update").modal('show');
                }

                self.myObject.dtoFocus.prod_img.ko_src.extend({ required: true });
                self.myObject.dtoFocus.prod_pricePerUnit.extend({ required: true });
                self.myObject.dtoFocus.prod_name.extend({ required: true });
                self.myObject.dtoFocus.prod_code.extend({ required: true });

            };


            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);


            function clear() {
                self.myObject.dtoFocus.prod_code('');
                self.myObject.dtoFocus.prod_name('');
                self.myObject.dtoFocus.prod_pricePerUnit(0);
                self.myObject.dtoFocus.prod_img.ko_src('');
                self.myObject.dtoFocus.prop_remark('');
            }

            $('#tableResult').DataTable();
        });
    </script>
}