﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>ADDICT | Promotion Marketing for ADMIN</title>

    @Styles.Render("~/Content/css")

</head>
<body class="blank">

    <!-- Simple splash screen-->
    <div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>ADDICT | Promotion Marketing for ADMIN</h1><div class="spinner"> <div class="rect1"></div> <div class="rect2"></div> <div class="rect3"></div> <div class="rect4"></div> <div class="rect5"></div> </div> </div> </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="color-line"></div>

    @RenderBody()


    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/knockout/js")
    @Scripts.Render("~/bundles/ladda/js")
    @Scripts.Render("~/bundles/sweetAlert/js")
    @Scripts.Render("~/bundles/datatable/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/touchSpin/js")
    @Scripts.Render("~/bundles/datePicker/js")
    @Scripts.Render("~/bundles/bluimp/js")
    @Scripts.Render("~/bundles/hommer/js")

    <script>
        var _app = {
            "baseURL": "@Url.Content("~/")"
        };
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>