﻿@using ManagementSystem.Models.Session
    <!DOCTYPE html>
    <html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="~/images/duck.ico">
        <!-- Page title -->
        <title>ADDICT | Promotion Marketing for ADMIN</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/bundles/ladda/css")
        @Styles.Render("~/bundles/datatable/css")
        @Styles.Render("~/bundles/sweetAlert/css")
        @Styles.Render("~/bundles/select2/css")
        @Styles.Render("~/bundles/touchSpin/css")
        @Styles.Render("~/bundles/datePicker/css")
        @Styles.Render("~/bundles/checkbox/css")
        @Styles.Render("~/bundles/bluimp/css")

    </head>
    <body class="fixed-navbar sidebar-scroll">

        <!-- Simple splash screen-->
        <div class="splash"> 
            <div class="color-line"></div>
            <div class="splash-title">
                <h1>ADDICT | Promotion Marketing for ADMIN</h1>
                <div class="spinner"> 
                    <div class="rect1"></div> 
                    <div class="rect2"></div> 
                    <div class="rect3"></div> 
                    <div class="rect4"></div> 
                    <div class="rect5"></div> 
                 </div> 
             </div>
        </div>
        <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
        <!-- Header -->
        <div id="header">
            <div class="color-line">
            </div>
            <div id="logo" class="light-version">
                <span>
                    ADDICT
                </span>
            </div>
            <nav role="navigation">
                <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
            </nav>
        </div>

        <!-- Navigation -->
        <aside id="menu">
            <div id="navigation">
                @if (Request.IsAuthenticated)
                {
                    if (Session["UserInfoSession"] != null)
                    {
                        UserDetailSession sess = (UserDetailSession)Session["UserInfoSession"];
                        <div class="profile-picture">
                            <a href="#">
                                <img src="~/images/avatar.png" class="img-circle m-b" alt="logo">
                            </a>

                            <div class="stats-label text-color">
                                <span class="font-extra-bold font-uppercase">@sess.loginUserDetail.user_name</span>

                                <div class="dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                        <small class="text-muted">@sess.loginUserRole.roleName<b class="caret"></b></small>
                                    </a>
                                    <ul class="dropdown-menu animated flipInX m-t-xs">
                                        <li><a href="@Url.Action("LogOff", "User")">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }



                        <ul class="nav" id="side-menu">
                            <li>
                                <a href="~/Home/Dashboard"> <span class="nav-label"><i class="pe-7s-home"></i>  Dashboard</span></a>
                            </li>
                            <li>
                                <a href="~/Product/Index"> <span class="nav-label"><i class="pe-7s-star"></i>  Product</span></a>
                            </li>
                            <li>
                                <a href="~/Premium/Index"> <span class="nav-label"><i class="fa fa-heartbeat"></i>  Premium</span> </a>
                            </li>
                            <li>
                                <a href="~/Store/Index"> <span class="nav-label"><i class="fa fa-shopping-bag"></i>  Store</span></a>
                            </li>
                            <li>
                                <a href="~/Customer/Index?custGuid=00000000-0000-0000-0000-000000000000"> <span class="nav-label"><i class="fa fa-user-secret"></i>  Customer</span></a>
                            </li>
                            <li>
                                <a href="~/Msg/Index"> <span class="nav-label"><i class="fa fa-comment-o"></i>  Message</span> </a>
                            </li>
                            <li>
                                <a href="#"><span class="nav-label"><i class="pe-7s-upload"></i>  Upload</span><span class="fa arrow"></span> </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="~/UploadFile/SMS_Upload">SMS</a></li>
                                    <li><a href="~/UploadFile/COUPON_Upload">Coupon</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-label"><i class="pe-7s-medal"></i>  Campaign</span><span class="fa arrow"></span> </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="~/Campaign/List">List</a></li>
                                    <li><a href="~/Campaign/Create">Create</a></li>
                                    <li><a href="~/Campaign/Detail">View</a></li>
                                    <li><a href="~/Campaign/Edit">Edit</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><span class="nav-label"><i class="fa fa-key"></i>  Security</span><span class="fa arrow"></span> </a>
                                <ul class="nav nav-second-level">
                                    <li><a href="~/Security/Role">Role</a></li>
                                    <li><a href="~/Security/UserProfile">User</a></li>
                                </ul>
                            </li>
                        </ul>
            </div>
        </aside>

        <!-- Main Wrapper -->
        <div id="wrapper">

            @RenderBody()

            <!-- Footer-->
            <footer class="footer">
                <span class="pull-right">
                    Marketing Online by ADDICT
                </span>
                ADDICT 2019
            </footer>

        </div>

        <!-- Vendor scripts -->
        @Scripts.Render("~/bundles/js")
        @Scripts.Render("~/bundles/knockout/js")
        @Scripts.Render("~/bundles/ladda/js")
        @Scripts.Render("~/bundles/sweetAlert/js")
        @Scripts.Render("~/bundles/datatable/js")
        @Scripts.Render("~/bundles/select2/js")
        @Scripts.Render("~/bundles/touchSpin/js")
        @Scripts.Render("~/bundles/datePicker/js")
        @Scripts.Render("~/bundles/bluimp/js")
        @Scripts.Render("~/bundles/bootbox/js")
        @Scripts.Render("~/bundles/numberOnly/js")
        @Scripts.Render("~/bundles/chartjs/js")
       
        @Scripts.Render("~/bundles/hommer/js")

        <script>
            var _app = {
                "baseURL": "@Url.Content("~/")"
            };

            $(".number-only").numberOnly();
        </script>
        @RenderSection("scripts", required: false)
    </body>
    </html>
