﻿@model ManagementSystem.Models.UserLoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

@using (Html.BeginForm("Login", "User"))
{
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>PLEASE LOGIN TO APP</h3>
                    <small>Management System Application by ADDICT</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="#" id="loginForm">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                @Html.TextBoxFor(t => t.UserName, new { placeholder = "Username", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                @Html.PasswordFor(t => t.Password, new { placeholder = "******", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <button type="submit" class="btn btn-success btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>ADDICT</strong> - Management System Application <br /> 2019 by ADDICT
            </div>
        </div>
    </div>
}

