﻿@model AttackCampaign.Models.CampaignActionModel

@{
    ViewBag.Title = "Attack Campaign ";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}
<div class="">
    <!-- Row start -->
    <div class="row justify-content-md-center">
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
            <div>
                <div class="login-box">
                    <div class="row justify-content-center">
                        <img src="~/images/logoHeader.png" width="100%" />
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" align="center">
                            <label for="inputName">รายการที่ต้องการร่วมสนุก</label>
                            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>

                                <select class="form-control" id="campaign" data-bind="
                                        'options':  myObject.lstSel_Campaign,
                                        'optionsText': function(item) {return item.Text; },
                                        'optionsValue': function(item) {
                                            return item.Value; },
                                        'value': myObject.chooseCampaign"></select>
                                <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.chooseCampaign"></span>
                            </div>
                            <button type="button" id="btnRegist" class="btn btn-block ladda-button" data-style="zoom-out" style="background-color: #EE2A7B; color: #fff" data-bind="click: myObject.confirm"> ยืนยัน </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row end -->
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.confirm = function () {
                    if (self.myObject.chooseCampaign.isValid()) {

                        window.location.href = _app.baseURL + 'Campaign/UploadReceipt?campGuid=' + self.myObject.chooseCampaign();
                    }
                };

                self.myObject.chooseCampaign.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                self.myObject.chooseCampaign.valueHasMutated();


            };


            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

        });
    </script>
}