﻿@model AttackCampaign.Models.CampaignUpload

@{
    ViewBag.Title = "Duck Thailand Campaign ";
}
<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
        <img src="~/images/logoHeader.png" width="100%" />
    </div>
</div>
<div class="row gutters">
    <div class="content-wrapper-white ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" align="center" style="margin-top: 30px; color: #084289; font-size: 1.2em;">
                ยืนยันการร่วมสนุกกิจกรรม
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 stroke" align="center" style="font-family:CAMP6;">
                <div>
                    <img src="~/images/campaignWording.png" width="100%" />
                </div>
            </div>
            <button id="btnConfirm" type="button" data-style="zoom-out"  class="btn btn-block ladda-button" style="background-color: #b0c135; color: #fff; margin-top: 20px;" data-bind="click:myObject.confirm">   ถัดไป    </button>

        </div>
        
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.confirm = function () {
                    var l = $('#btnConfirm').ladda();
                    l.ladda('start');
                    setTimeout(function () {
                        $.ajax({
                            url: _app.baseURL + 'Campaign/ConfirmCondition',
                            type: 'POST',
                            data: JSON.stringify({ 'custGrGuid': self.myObject.customerGrGuid() }), 
                            dataType: "json",
                            async: false,
                            contentType: "application/json",
                            success: function (result) {
                                if (result.status == 200) {
                                    window.location.href =result.message;
                                }
                                else {
                                    l.ladda('stop');
                                    notifyMsg("error", result.message);
                                }
                            },
                            error: function (jqXHR, exception, error) {
                                l.ladda('stop');
                                notifyMsg("error", error);
                            }
                        });

                        l.ladda('stop');
                    }, 500)
                    
                };
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);
        });




    </script>
}


