﻿@model AttackCampaign.Models.CustomerModel

@{
    ViewBag.Title = "Duck Thailand Campaign ";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}

<!-- Page header end -->
<!-- Content wrapper start -->
<div class="page-title">
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <h5 class="title" style="color: #000; font-size: 1.0em;">กรุณากรอกที่อยู่สำหรับจัดส่งของรางวัล</h5>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="col-xl-12 col-lglg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                    <label for="inputName" >ชื่อ</label>
                    <input type="text" class="form-control" placeholder="First Name" data-bind="value: myObject.cust_customer.cust_firstName">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.cust_customer.cust_firstName"></span>
                </div>
                <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                    <label for="inputName" >นามสกุล</label>
                    <input type="text" class="form-control" placeholder="Last Name" data-bind="value: myObject.cust_customer.cust_lastName">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.cust_customer.cust_lastName"></span>
                </div>
                <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                    <label for="inputName" >เบอร์โทรศัพท์</label>
                    <input type="text" readonly class="form-control" placeholder="Phone No" data-bind="value: myObject.cust_customer.cust_tel">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.cust_customer.cust_tel"></span>
                </div>
                <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                    <label for="inputName">ที่อยู่ 1</label>
                    <input type="text" class="form-control" placeholder="บ้านเลขที่/หมู่บ้าน/อาคาร" data-bind="value: myObject.cust_customer.cust_addr1">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.cust_customer.cust_addr1"></span>
                </div>
                <div class="form-group">
                    <label for="inputName">ที่อยู่ 2</label>
                    <input type="text" class="form-control" placeholder="ถนน/หมู่" data-bind="value: myObject.cust_customer.cust_addr2">
                </div>
                <div class="form-group">
                    <label for="inputName">จังหวัด</label>
                    <div data-bind='validationOptions: { insertMessages: false }'>
                        <select class="form-control" id="province" data-bind="
                                                                        'options':  myObject.lstSel_Province,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.cust_customer.cust_provId"></select>
                        <span class="validationMessage text-danger small" data-bind="validationMessage:  myObject.cust_customer.cust_provId"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputName">อำเภอ/เขต</label>
                    <div data-bind='validationOptions: { insertMessages: false }'>
                        <select class="form-control" id="district" data-bind="
                                                                        'options':  myObject.lstSel_District,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.cust_customer.cust_distId"></select>
                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.cust_customer.cust_distId"></span>
                    </div>
                </div>
                <div class="form-group ">
                    <label for="inputName">ตำบล/แขวง</label>
                    <div data-bind='validationOptions: { insertMessages: false }'>
                        <select class="form-control" id="subDistrict" data-bind="
                                                                        'options':  myObject.lstSel_SubDistrict,
                                                                        'optionsText': function(item) {return item.Text; },
                                                                        'optionsCaption': '...Choose...',
                                                                        'optionsValue': function(item) {
                                                                            return item.Value; },
                                                                        'value': myObject.cust_customer.cust_subId"></select>
                        <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.cust_customer.cust_subId"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName">รหัสไปรษณีย์</label>
                    <input type="text" readonly class="form-control" placeholder="Zip Code" data-bind="value: myObject.cust_subDistrict.subDistZipCode">
                </div>
                <hr class="my-10">
                <div class="form-group ">
                    <label class="col-lg-12 col-md-12 col-sm-12 col-12 control-label">
                        * หากตรวจพบข้อมูลเลขที่ใบเสร็จที่ไม่ถูกต้อง หรือการทุจริตอื่นใด ของรางวัลจะถือเป็นโมฆะ
                        * การตัดสินของคณะกรรมการถือเป็นที่สิ้นสุด
                        * ของรางวัลจะถูกจัดส่งภายใน 14 วันทำการ
                        * สอบถามรายละเอียดเพิ่มเติมได้ที่  Line @@DuckAndBaygon
                    </label>
                </div>
                <button id="btnConfirm" type="button" class="btn btn-block ladda-button" data-style="zoom-out" style="background-color: #EE2A7B; color: #fff" data-bind="click: myObject.confirm"> ยืนยัน </button>

            </div>
        </div>
    </div>
    <!-- Row end -->
</div>


@section Scripts {

    <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                
                self.myObject.cust_customer.cust_provId.subscribe(function (newValue) {

                    $.ajax({
                        url: _app.baseURL + 'User/getDistrictByProvince',
                        type: 'POST',
                        data: JSON.stringify({ 'provId': newValue }),
                        dataType: "json",
                        async: false,
                        contentType: "application/json",
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstSel_District(result.dataResult);
                                self.myObject.lstDistrict(result.dataResult_2);
                            }
                            else {
                                notifyMsg("error", result.message);
                            }

                        },
                        error: function (jqXHR, exception) {
                            notifyMsg("error", jqXHR.statusText);
                        }
                    });

                    $('#amphur').trigger('change');
                }.bind(self));

                self.myObject.cust_customer.cust_distId.subscribe(function (newValue) {

                    $.ajax({
                        url: _app.baseURL + 'User/getSubDistrictByDistrict',
                        type: 'POST',
                        data: JSON.stringify({ 'districtId': newValue }),
                        dataType: "json",
                        async: false,
                        contentType: "application/json",
                        success: function (result) {
                            if (result.status == 200) {
                                self.myObject.lstSel_SubDistrict(result.dataResult);
                                self.myObject.lstSubDistrict(result.dataResult_2);
                            }
                            else {
                                notifyMsg("error", result.message);
                            }

                        },
                        error: function (jqXHR, exception) {
                            notifyMsg("error", jqXHR.statusText);
                        }
                    });

                    $('#amphur').trigger('change');
                }.bind(self));

                self.myObject.cust_customer.cust_subId.subscribe(function (newValue) {

                    for (var i = 0; self.myObject.lstSubDistrict() != undefined && i < self.myObject.lstSubDistrict().length; i++) {
                        if (newValue != null && newValue != "") {
                            if (newValue == self.myObject.lstSubDistrict()[i].subDistId) {
                                self.myObject.cust_subDistrict.subDistNameTh(self.myObject.lstSubDistrict()[i].subDistNameTh);
                                self.myObject.cust_subDistrict.subDistNameEn(self.myObject.lstSubDistrict()[i].subDistNameEn);
                                self.myObject.cust_subDistrict.subDistZipCode(self.myObject.lstSubDistrict()[i].subDistZipcode);
                            }
                        } else {
                            self.myObject.cust_subDistrict.subDistNameTh("");
                            self.myObject.cust_subDistrict.subDistNameEn("");
                            self.myObject.cust_subDistrict.subDistZipCode("");
                        }
                    }
                }.bind(self));

                self.myObject.confirm = function () {
                    if (myObject.cust_customer.cust_firstName.isValid() &&
                        myObject.cust_customer.cust_lastName.isValid() &&
                        myObject.cust_customer.cust_tel.isValid() &&
                        myObject.cust_customer.cust_addr1.isValid() &&
                        myObject.cust_customer.cust_provId.isValid() &&
                        myObject.cust_customer.cust_distId.isValid() &&
                        myObject.cust_customer.cust_subId.isValid() &&
                        myObject.cust_subDistrict.subDistZipCode.isValid()) {

                        var l = $('#btnConfirm').ladda();
                        l.ladda('start');
                        setTimeout(function () {
                            $.ajax({
                                url: _app.baseURL + 'Campaign/UpdateCustomerAddress',
                                type: 'POST',
                                data: ko.toJSON(myObject.cust_customer),
                                dataType: "json",
                                async: false,
                                contentType: "application/json",
                                success: function (result) {
                                    if (result.status == 200) {
                                        window.location.href = _app.baseURL + 'Campaign/History';
                                    }
                                    else {
                                        notifyMsg("error", result.message);
                                    }
                                },
                                error: function (XMLHttpRequest, jqXHR, exception) {
                                    if (XMLHttpRequest.readyState == 4) {
                                        notifyMsg("error", exception);
                                    }
                                    else if (XMLHttpRequest.readyState == 0) {
                                        $("#lblerrorReg").html("เนื่องจากทำรายการเกินระยะเวลาที่กำหนด กรุณา Refresh หน้าจอ และทำรายการใหม่อีกครั้ง");
                                    }
                                    else {
                                        notifyMsg("error", jqXHR.statusText);
                                    }
                                }

                            });

                            l.ladda('stop');
                        }, 500)
                    }
                };


                myObject.cust_customer.cust_firstName.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                myObject.cust_customer.cust_lastName.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                myObject.cust_customer.cust_tel.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                myObject.cust_customer.cust_addr1.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                myObject.cust_customer.cust_provId.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                myObject.cust_customer.cust_distId.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                myObject.cust_customer.cust_subId.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });
                myObject.cust_subDistrict.subDistZipCode.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล"
                    }
                });

                myObject.cust_customer.cust_addr1.valueHasMutated();
                myObject.cust_customer.cust_provId.valueHasMutated();
                myObject.cust_customer.cust_distId.valueHasMutated();
                myObject.cust_customer.cust_subId.valueHasMutated();
                myObject.cust_subDistrict.subDistZipCode.valueHasMutated();
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);
            $("#province").select2();
            $("#district").select2();
            $("#subDistrict").select2();
        });




    </script>
}
