﻿@model AttackCampaign.Models.CustomerReceiptHistoryModel

@{
    ViewBag.Title = "Duck Thailand Campaign ";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div style="border-radius: 18px 18px">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 stroke" align="center" style="font-size: 1.2em">
        ประวัติการร่วมสนุก
    </div>
    <!-- Row start -->
    <div class="row ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">

            <div class="table-responsive">
                <div class="row " data-bind="foreach: myObject.lstSummaryData" style="background-color: #fff !important; color:#616a71; margin: 5px;border-radius: 18px 18px 18px 18px;">
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10">
                        <span data-bind="text: sumDesc"></span>
                    </div>
                    <div align="right" class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                        <span data-bind="text: totalQty"></span>
                    </div>
                    
                </div>
            </div>
               
              
                <div class="table-responsive">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>วันที่</th>
                                <th>รางวัล</th>
                                <th>สิทธิ</th>
                            </tr>
                        </thead>
                        <tbody data-bind="dataTablesForEach : {
                                                            data: myObject.lstData,
                                                            options: {
                                                                deferRender: true,
                                                                paging: false,
                                                                fixedColumns: {
                                                                    leftColumns: 2
                                                                },
                                                                scrollX: true
                                                            }
                                                        }">
                            <tr>
                                <td>
                                    <div data-bind="text: custRec_updateDate_str"></div>
                                    <div  style="font-size: 0.7em" data-bind="text: prop_activeStat_disp, css: { 'text-danger': custRec_status() == 'REJ'} "></div>
                                </td>
                                <td ></td>
                                <td data-bind="text: custRec_totalGainPoint" align="right"></td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <!-- Row end -->
</div>


@section Scripts {

    <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);
        });
    </script>
}


