﻿@model AttackCampaign.Models.CampaignUpload


@{
    ViewBag.Title = "Duck Thailand Campaign ";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}
<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 stroke" align="center">
        <h1>ตัวอย่างใบเสร็จ</h1>
    </div>
</div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="row justify-content-center">
                    <img src="~/images/receipt/7-11.png" width="100%">
                </div>
            </div>
        </div>
    </div>

    @section Scripts {

        <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.gotoLogin = function () {
                    window.location.href = _app.baseURL + 'User/Login';
                };

            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

        });
        </script>
    }
