﻿
@model AttackCampaign.Models.CampaignUpload

@{
    ViewBag.Title = "Duck Thailand Campaign ";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}


<div class="row justify-content-center">
    <div class="col-xl-5 col-lg-6 col-md-7 col-sm-8 col-12">
        <img src="~/images/logoHeader.png" width="100%" />
    </div>
</div>


<div class="content-wrapper" style="border-radius: 18px 18px">
    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">กรอกและอัพโหลดใบเสร็จจากเซเว่นอิเลเว่น 1</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                            <input type="text" class="form-control" placeholder="เลขที่ใบเสร็จ" data-bind="value: myObject.dtoData.receiptNo_1">
                        </div>
                        <div class="input-group-append">
                            <input type="file" name="receipt_1" id="receipt_1" class="fileInputCustom inputfile inputfile-1" onchange="handleFiles(1);" />
                            <label for="receipt_1">
                                <i class="icon-camera" style="float:left;"></i>
                            </label>
                        </div>
                        <div class="input-group-prepend">
                            <a href="#" data-bind="click:  myObject.previewImg_1 " style="padding-top: 10px;"><i class="icon-zoom-in"></i>&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.receiptNo_1"></span>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.receipt_img_1.ko_src"></span>

            <div data-bind='validationOptions: { insertMessages: false }'>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                    <label for="inputName">รหัสสาขา 7-11</label>
                    <input type="text" class="form-control" placeholder="รหัสสาขา 7-11" data-bind="value: myObject.dtoData.branchNo_1">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.branchNo_1"></span>
                </div>
            </div>
            <hr />
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">กรอกและอัพโหลดใบเสร็จจากเซเว่นอิเลเว่น 2</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                            <input type="text" class="form-control" placeholder="เลขที่ใบเสร็จ" data-bind="value: myObject.dtoData.receiptNo_2">
                        </div>
                        <div class="input-group-append">
                            <input type="file" name="receipt_2" id="receipt_2" class="fileInputCustom inputfile inputfile-1" onchange="handleFiles(2);" />
                            <label for="receipt_2">
                                <i class="icon-camera" style="float:left;"></i>
                            </label>
                        </div>
                        <div class="input-group-prepend">
                            <a href="#" data-bind="click:  myObject.previewImg_2 " style="padding-top: 10px;"><i class="icon-zoom-in"></i>&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.receiptNo_2"></span>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.receipt_img_2.ko_src"></span>

            <div data-bind='validationOptions: { insertMessages: false }'>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                    <label for="inputName">รหัสสาขา 7-11</label>
                    <input type="text" class="form-control" placeholder="รหัสสาขา 7-11" data-bind="value: myObject.dtoData.branchNo_2">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.branchNo_2"></span>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">กรอกและอัพโหลดใบเสร็จจากเซเว่นอิเลเว่น 3</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                            <input type="text" class="form-control" placeholder="เลขที่ใบเสร็จ" data-bind="value: myObject.dtoData.receiptNo_3">
                        </div>
                        <div class="input-group-append">
                            <input type="file" name="receipt_3" id="receipt_3" class="fileInputCustom inputfile inputfile-1" onchange="handleFiles(3);" />
                            <label for="receipt_3">
                                <i class="icon-camera" style="float:left;"></i>
                            </label>
                        </div>
                        <div class="input-group-prepend">
                            <a href="#" data-bind="click:  myObject.previewImg_3" style="padding-top: 10px;"><i class="icon-zoom-in"></i>&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.receiptNo_3"></span>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.receipt_img_3.ko_src"></span>

            <div data-bind='validationOptions: { insertMessages: false }'>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                    <label for="inputName">รหัสสาขา 7-11</label>
                    <input type="text" class="form-control" placeholder="รหัสสาขา 7-11" data-bind="value: myObject.dtoData.branchNo_3">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.branchNo_3"></span>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">กรอกและอัพโหลดใบเสร็จจากเซเว่นอิเลเว่น 4</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                            <input type="text" class="form-control" placeholder="เลขที่ใบเสร็จ" data-bind="value: myObject.dtoData.receiptNo_4">
                        </div>
                        <div class="input-group-append">
                            <input type="file" name="receipt_4" id="receipt_4" class="fileInputCustom inputfile inputfile-1" onchange="handleFiles(4);" />
                            <label for="receipt_4">
                                <i class="icon-camera" style="float:left;"></i>
                            </label>
                        </div>
                        <div class="input-group-prepend">
                            <a href="#" data-bind="click:  myObject.previewImg_4" style="padding-top: 10px;"><i class="icon-zoom-in"></i>&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.receiptNo_4"></span>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.receipt_img_4.ko_src"></span>

            <div data-bind='validationOptions: { insertMessages: false }'>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                    <label for="inputName">รหัสสาขา 7-11</label>
                    <input type="text" class="form-control" placeholder="รหัสสาขา 7-11" data-bind="value: myObject.dtoData.branchNo_4">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.branchNo_4"></span>
                </div>
            </div>
            <hr />
        </div>

        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="form-group" data-bind='validationOptions: { insertMessages: false }'>
                <label for="inputName">กรอกและอัพโหลดใบเสร็จจากเซเว่นอิเลเว่น 5</label>
                <div class="form-group">
                    <div class="input-group">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                            <input type="text" class="form-control" placeholder="เลขที่ใบเสร็จ" data-bind="value: myObject.dtoData.receiptNo_5">
                        </div>
                        <div class="input-group-append">
                            <input type="file" name="receipt_5" id="receipt_5" class="fileInputCustom inputfile inputfile-1" onchange="handleFiles(5);" />
                            <label for="receipt_5">
                                <i class="icon-camera" style="float:left;"></i>
                            </label>
                        </div>
                        <div class="input-group-prepend">
                            <a href="#" data-bind="click:  myObject.previewImg_5" style="padding-top: 10px;"><i class="icon-zoom-in"></i>&nbsp;&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.receiptNo_5"></span>
            <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.receipt_img_5.ko_src"></span>

            <div data-bind='validationOptions: { insertMessages: false }'>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8" style="padding-left: 0; padding-right: 0;">
                    <label for="inputName">รหัสสาขา 7-11</label>
                    <input type="text" class="form-control" placeholder="รหัสสาขา 7-11" data-bind="value: myObject.dtoData.branchNo_5">
                    <span class="validationMessage text-danger small" data-bind="validationMessage: myObject.dtoData.branchNo_5"></span>
                </div>
            </div>
            <hr />
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div align="center">
                <a href="#" style="font-size: 0.8em" data-bind="click:  myObject.sampleRec "><i class="icon-search"></i>ตัวอย่างใบเสร็จ</a>&nbsp;&nbsp;&nbsp;
            </div>
            <div align="center">
                <img src="~/images/receipt/7-11.png" width="120" />
            </div>
            <div align="center">
                &nbsp;
            </div>
            <button type="button" id="btnRegist" class="btn btn-block ladda-button" data-style="zoom-out" style="background-color: #b0c135; color: #fff" data-bind="click: myObject.confirm"> ยืนยัน </button>
        </div>
        </div>
    </div>
    <!-- Row end -->


<div class="modal fade" id="modal_showImg" role="dialog" tabindex="-1" aria-labelledby="modal_showImg" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body-->
            <div class="modal-body">
                <img style="width: 100%; height: auto;" data-bind="attr: {'src': myObject.imgSrcPreview }" />
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_sampleRec" role="dialog" tabindex="-1" aria-labelledby="modal_sampleRec" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal body-->
            <div class="modal-body ">
                <div class="row justify-content-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 stroke" align="center">
                        <h1>ตัวอย่างใบเสร็จ</h1>
                    </div>
                </div>
                <div class="main-container content-wrapper gutters" style="border-radius: 18px 18px">


                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="row justify-content-center">
                            <img src="~/images/receipt/7-11.png" width="100%">
                        </div>
                    </div>

                </div>

            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">
        $(document).ready(
            function () {


            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.previewImg_1 = function () {
                    self.myObject.imgSrcPreview(self.myObject.receipt_img_1.ko_src());
                    $("#modal_showImg").modal('show');
                    return true;
                }
                self.myObject.previewImg_2 = function () {
                    self.myObject.imgSrcPreview(self.myObject.receipt_img_2.ko_src());
                    $("#modal_showImg").modal('show');
                    return true;
                }
                self.myObject.previewImg_3 = function () {
                    self.myObject.imgSrcPreview(self.myObject.receipt_img_3.ko_src());
                    $("#modal_showImg").modal('show');
                    return true;
                }
                self.myObject.previewImg_4 = function () {
                    self.myObject.imgSrcPreview(self.myObject.receipt_img_4.ko_src());
                    $("#modal_showImg").modal('show');
                    return true;
                }
                self.myObject.previewImg_5 = function () {
                    self.myObject.imgSrcPreview(self.myObject.receipt_img_5.ko_src());
                    $("#modal_showImg").modal('show');
                    return true;
                }

                self.myObject.sampleRec = function () {
                    $("#modal_sampleRec").modal('show');
                    return true;
                }

                self.myObject.confirm = function () {
                    var l = $('#btnRegist').ladda();
                    l.ladda('start');
                    setTimeout(function () {
                        if (self.myObject.receipt_img_1.ko_src.isValid() &&
                            self.myObject.dtoData.receiptNo_1.isValid() &&
                            self.myObject.receipt_img_2.ko_src.isValid() &&
                            self.myObject.dtoData.receiptNo_2.isValid() &&
                            self.myObject.receipt_img_3.ko_src.isValid() &&
                            self.myObject.dtoData.receiptNo_3.isValid() &&
                            self.myObject.receipt_img_4.ko_src.isValid() &&
                            self.myObject.dtoData.receiptNo_4.isValid() &&
                            self.myObject.receipt_img_5.ko_src.isValid() &&
                            self.myObject.dtoData.receiptNo_5.isValid() &&
                            self.myObject.dtoData.branchNo_1.isValid() &&
                            self.myObject.dtoData.branchNo_2.isValid() &&
                            self.myObject.dtoData.branchNo_3.isValid() &&
                            self.myObject.dtoData.branchNo_4.isValid() &&
                            self.myObject.dtoData.branchNo_5.isValid()) {

                            $.ajax({
                                url: _app.baseURL + 'Campaign/CheckExistRecepitNo',
                                type: 'POST',
                                data: JSON.stringify({ 'receiptNo_1': myObject.dtoData.receiptNo_1(), 'receiptNo_2': myObject.dtoData.receiptNo_2(), 'receiptNo_3': myObject.dtoData.receiptNo_3(), 'receiptNo_4': myObject.dtoData.receiptNo_4(), 'receiptNo_5': myObject.dtoData.receiptNo_5(), 'branchNo_1': self.myObject.dtoData.branchNo_1(), 'branchNo_2': self.myObject.dtoData.branchNo_2(), 'branchNo_3': self.myObject.dtoData.branchNo_3(), 'branchNo_4': self.myObject.dtoData.branchNo_4(), 'branchNo_5': self.myObject.dtoData.branchNo_5() }),
                                dataType: "json",
                                async: false,
                                contentType: 'application/json; charset=utf-8',
                                success: function (result) {
                                    if (result.status == 200) {
                                        if (result.dataResult) {
                                            l.ladda('stop');
                                            notifyMsg("error", result.message);
                                        } else {

                                            var Pic1 = self.myObject.receipt_img_1.ko_src(),
                                                Pic2 = self.myObject.receipt_img_2.ko_src(),
                                                Pic3 = self.myObject.receipt_img_3.ko_src(),
                                                Pic4 = self.myObject.receipt_img_4.ko_src(),
                                                Pic5 = self.myObject.receipt_img_5.ko_src();

                                            if (Pic1 != null) {
                                                Pic1 = Pic1.replace(/^data:image\/[a-z]+;base64,/, "");
                                            } 
                                            if (Pic2 != null) {
                                                Pic2 = Pic2.replace(/^data:image\/[a-z]+;base64,/, "");
                                            }
                                            if (Pic3 != null) {
                                                Pic3 = Pic3.replace(/^data:image\/[a-z]+;base64,/, "");
                                            }
                                            if (Pic4 != null) {
                                                Pic4 = Pic4.replace(/^data:image\/[a-z]+;base64,/, "");
                                            }
                                            if (Pic5 != null) {
                                                Pic5 = Pic5.replace(/^data:image\/[a-z]+;base64,/, "");
                                            }



                                            $.ajax({
                                                type: 'POST',
                                                url: _app.baseURL + 'Campaign/UploadFile',
                                                data: '{ "imageData" : "' + Pic1 + '" }',
                                                contentType: 'application/json; charset=utf-8',
                                                dataType: 'json',
                                                success: function (response) {
                                                    if (response.status == 200) {
                                                        self.myObject.dtoData.receipt_imgUrl_1(response.dataResult);

                                                        $.ajax({
                                                            type: 'POST',
                                                            url: _app.baseURL + 'Campaign/UploadFile',
                                                            data: '{ "imageData" : "' + Pic2 + '" }',
                                                            contentType: 'application/json; charset=utf-8',
                                                            dataType: 'json',
                                                            success: function (response) {
                                                                if (response.status == 200) {
                                                                    self.myObject.dtoData.receipt_imgUrl_2(response.dataResult);

                                                                    $.ajax({
                                                                        type: 'POST',
                                                                        url: _app.baseURL + 'Campaign/UploadFile',
                                                                        data: '{ "imageData" : "' + Pic3 + '" }',
                                                                        contentType: 'application/json; charset=utf-8',
                                                                        dataType: 'json',
                                                                        success: function (response) {
                                                                            if (response.status == 200) {
                                                                                self.myObject.dtoData.receipt_imgUrl_3(response.dataResult);

                                                                                $.ajax({
                                                                                    type: 'POST',
                                                                                    url: _app.baseURL + 'Campaign/UploadFile',
                                                                                    data: '{ "imageData" : "' + Pic4 + '" }',
                                                                                    contentType: 'application/json; charset=utf-8',
                                                                                    dataType: 'json',
                                                                                    success: function (response) {
                                                                                        if (response.status == 200) {
                                                                                            self.myObject.dtoData.receipt_imgUrl_4(response.dataResult);

                                                                                            $.ajax({
                                                                                                type: 'POST',
                                                                                                url: _app.baseURL + 'Campaign/UploadFile',
                                                                                                data: '{ "imageData" : "' + Pic5 + '" }',
                                                                                                contentType: 'application/json; charset=utf-8',
                                                                                                dataType: 'json',
                                                                                                success: function (response) {
                                                                                                    if (response.status == 200) {
                                                                                                        self.myObject.dtoData.receipt_imgUrl_5(response.dataResult);

                                                                                                        $.ajax({
                                                                                                            url: _app.baseURL + 'Campaign/SaveReceipt',
                                                                                                            type: 'POST',
                                                                                                            data: ko.toJSON(self.myObject.dtoData),
                                                                                                            dataType: "json",
                                                                                                            async: false,
                                                                                                            contentType: "application/json",
                                                                                                            success: function (result) {
                                                                                                                if (result.status == 200) {
                                                                                                                    window.location.href = result.message;
                                                                                                                }
                                                                                                                else {
                                                                                                                    l.ladda('stop');
                                                                                                                    notifyMsg("error", result.message);
                                                                                                                }
                                                                                                            },
                                                                                                            error: function (jqXHR, exception, error) {
                                                                                                                l.ladda('stop');
                                                                                                                notifyMsg("error", error);
                                                                                                            }
                                                                                                        });
                                                                                                    } else {
                                                                                                        isSuccess = false;
                                                                                                        l.ladda('stop');
                                                                                                        notifyMsg("error", response.message);
                                                                                                    }
                                                                                                },
                                                                                                error: function (jqXHR, exception) {
                                                                                                    l.ladda('stop');
                                                                                                    isSuccess = false;
                                                                                                    notifyMsg("error", exception);
                                                                                                }
                                                                                            });
                                                                                        } else {
                                                                                            isSuccess = false;
                                                                                            l.ladda('stop');
                                                                                            notifyMsg("error", response.message);
                                                                                        }
                                                                                    },
                                                                                    error: function (jqXHR, exception) {
                                                                                        l.ladda('stop');
                                                                                        isSuccess = false;
                                                                                        notifyMsg("error", exception);
                                                                                    }
                                                                                });
                                                                            } else {
                                                                                isSuccess = false;
                                                                                l.ladda('stop');
                                                                                notifyMsg("error", response.message);
                                                                            }
                                                                        },
                                                                        error: function (jqXHR, exception) {
                                                                            l.ladda('stop');
                                                                            isSuccess = false;
                                                                            notifyMsg("error", exception);
                                                                        }
                                                                    });
                                                                } else {
                                                                    isSuccess = false;
                                                                    l.ladda('stop');
                                                                    notifyMsg("error", response.message);
                                                                }
                                                            },
                                                            error: function (jqXHR, exception) {
                                                                l.ladda('stop');
                                                                isSuccess = false;
                                                                notifyMsg("error", exception);
                                                            }
                                                        });
                                                    } else {
                                                        isSuccess = false;
                                                        l.ladda('stop');
                                                        notifyMsg("error", response.message);
                                                    }
                                                },
                                                error: function (jqXHR, exception) {
                                                    l.ladda('stop');
                                                    isSuccess = false;
                                                    notifyMsg("error", exception);
                                                }
                                            });

                                            
                                        }
                                    }
                                    else {
                                        l.ladda('stop');
                                        notifyMsg("error", result.message);
                                    }
                                },
                                error: function (jqXHR, exception, error) {
                                    l.ladda('stop');
                                    notifyMsg("error", error);
                                }
                            });
                        }
                        l.ladda('stop');
                    }, 500)
                }   

                self.myObject.dtoData.receiptNo_1.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล",
                        onlyIf: function () {
                            return self.myObject.receipt_img_1.ko_src() != '' && self.myObject.receipt_img_1.ko_src() != null;
                        }
                    }
                });
                self.myObject.dtoData.receiptNo_2.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล",
                        onlyIf: function () {
                            return self.myObject.receipt_img_2.ko_src() != '' && self.myObject.receipt_img_2.ko_src() != null;
                        }
                    }
                });
                self.myObject.dtoData.receiptNo_3.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล",
                        onlyIf: function () {
                            return self.myObject.receipt_img_3.ko_src() != '' && self.myObject.receipt_img_3.ko_src() != null;
                        }
                    }
                });
                self.myObject.dtoData.receiptNo_4.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล",
                        onlyIf: function () {
                            return self.myObject.receipt_img_4.ko_src() != '' && self.myObject.receipt_img_4.ko_src() != null;
                        }
                    }
                });
                self.myObject.dtoData.receiptNo_5.extend({
                    required: {
                        message: "กรุณากรอกข้อมูล",
                        onlyIf: function () {
                            return self.myObject.receipt_img_5.ko_src() != '' && self.myObject.receipt_img_5.ko_src() != null;
                        }
                    }
                });

                self.myObject.receipt_img_1.ko_src.extend({
                    required: {
                        message: "กรุณาอัพโหลดใบเสร็จ",
                        onlyIf: function () {
                            return self.myObject.dtoData.receiptNo_1() != '' && self.myObject.dtoData.receiptNo_1() != null;
                        }
                    }
                });
                self.myObject.receipt_img_2.ko_src.extend({
                    required: {
                        message: "กรุณาอัพโหลดใบเสร็จ",
                        onlyIf: function () {
                            return self.myObject.dtoData.receiptNo_2() != '' && self.myObject.dtoData.receiptNo_2() != null;
                        }
                    }
                });
                self.myObject.receipt_img_3.ko_src.extend({
                    required: {
                        message: "กรุณาอัพโหลดใบเสร็จ",
                        onlyIf: function () {
                            return self.myObject.dtoData.receiptNo_3() != '' && self.myObject.dtoData.receiptNo_3() != null;
                        }
                    }
                });
                self.myObject.receipt_img_4.ko_src.extend({
                    required: {
                        message: "กรุณาอัพโหลดใบเสร็จ",
                        onlyIf: function () {
                            return self.myObject.dtoData.receiptNo_4() != '' && self.myObject.dtoData.receiptNo_4() != null;
                        }
                    }
                });
                self.myObject.receipt_img_5.ko_src.extend({
                    required: {
                        message: "กรุณาอัพโหลดใบเสร็จ",
                        onlyIf: function () {
                            return self.myObject.dtoData.receiptNo_5() != '' && self.myObject.dtoData.receiptNo_5() != null;
                        }
                    }
                });

                self.myObject.dtoData.branchNo_1.extend({
                    required: {
                        message: "กรุณาระบุสาขา 7-11",
                        onlyIf: function () {
                            return (self.myObject.dtoData.receiptNo_1() != '' && self.myObject.dtoData.receiptNo_1() != null) ||
                                (self.myObject.receipt_img_1.ko_src() != '' && self.myObject.receipt_img_1.ko_src() != null);
                        }
                    }
                });

                self.myObject.dtoData.branchNo_2.extend({
                    required: {
                        message: "กรุณาระบุสาขา 7-11",
                        onlyIf: function () {
                            return (self.myObject.dtoData.receiptNo_2() != '' && self.myObject.dtoData.receiptNo_2() != null) ||
                                (self.myObject.receipt_img_2.ko_src() != '' && self.myObject.receipt_img_2.ko_src() != null);
                        }
                    }
                });

                self.myObject.dtoData.branchNo_3.extend({
                    required: {
                        message: "กรุณาระบุสาขา 7-11",
                        onlyIf: function () {
                            return (self.myObject.dtoData.receiptNo_3() != '' && self.myObject.dtoData.receiptNo_3() != null) ||
                                (self.myObject.receipt_img_3.ko_src() != '' && self.myObject.receipt_img_3.ko_src() != null);
                        }
                    }
                });

                self.myObject.dtoData.branchNo_4.extend({
                    required: {
                        message: "กรุณาระบุสาขา 7-11",
                        onlyIf: function () {
                            return (self.myObject.dtoData.receiptNo_4() != '' && self.myObject.dtoData.receiptNo_4() != null) ||
                                (self.myObject.receipt_img_4.ko_src() != '' && self.myObject.receipt_img_4.ko_src() != null);
                        }
                    }
                });

                self.myObject.dtoData.branchNo_5.extend({
                    required: {
                        message: "กรุณาระบุสาขา 7-11",
                        onlyIf: function () {
                            return (self.myObject.dtoData.receiptNo_5() != '' && self.myObject.dtoData.receiptNo_5() != null) ||
                                (self.myObject.receipt_img_5.ko_src() != '' && self.myObject.receipt_img_5.ko_src() != null);
                        }
                    }
                });
               


                self.myObject.receipt_img_1.ko_src.valueHasMutated();
                self.myObject.receipt_img_2.ko_src.valueHasMutated();
                self.myObject.receipt_img_3.ko_src.valueHasMutated();
                self.myObject.receipt_img_4.ko_src.valueHasMutated();
                self.myObject.receipt_img_5.ko_src.valueHasMutated();
                self.myObject.dtoData.receiptNo_1.valueHasMutated();
                self.myObject.dtoData.receiptNo_2.valueHasMutated();
                self.myObject.dtoData.receiptNo_3.valueHasMutated();
                self.myObject.dtoData.receiptNo_4.valueHasMutated();
                self.myObject.dtoData.receiptNo_5.valueHasMutated();
                self.myObject.dtoData.branchNo_1.valueHasMutated();
                self.myObject.dtoData.branchNo_2.valueHasMutated();
                self.myObject.dtoData.branchNo_3.valueHasMutated();
                self.myObject.dtoData.branchNo_4.valueHasMutated();
                self.myObject.dtoData.branchNo_5.valueHasMutated();
            };
            
            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model));

        });

        function handleFiles(imgNo) {
            var dataurl = null;
            var filesToUpload;
            if (imgNo == 1) {
                filesToUpload = document.getElementById('receipt_1').files;
            } else if (imgNo == 2) {
                filesToUpload = document.getElementById('receipt_2').files;
            } else if (imgNo == 3) {
                filesToUpload = document.getElementById('receipt_3').files;
            } else if (imgNo == 4) {
                filesToUpload = document.getElementById('receipt_4').files;
            } else if (imgNo == 5) {
                filesToUpload = document.getElementById('receipt_5').files;
            }

            var file = filesToUpload[0];

            // Create an image
            var img = document.createElement("img");
            // Create a file reader
            var reader = new FileReader();
            // Set the image once loaded into file reader
            reader.onload = function (e) {
                img.src = e.target.result;

                img.onload = function () {
                    var canvas = document.createElement("canvas");
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0);

                    var MAX_WIDTH = 300;
                    var MAX_HEIGHT = 600;
                    var width = img.width;
                    var height = img.height;

                    if (width > height) {
                        if (width > MAX_WIDTH) {
                            height *= MAX_WIDTH / width;
                            width = MAX_WIDTH;
                        }
                    } else {
                        if (height > MAX_HEIGHT) {
                            width *= MAX_HEIGHT / height;
                            height = MAX_HEIGHT;
                        }
                    }
                    canvas.width = width;
                    canvas.height = height;
                    var ctx = canvas.getContext("2d");
                    ctx.drawImage(img, 0, 0, width, height);

                    dataurl = canvas.toDataURL("image/jpeg");

                    if (imgNo == 1) {
                        self.myObject.receipt_img_1.ko_fileType(file.type);
                        self.myObject.receipt_img_1.ko_src(dataurl);
                    } else if (imgNo == 2) {
                        self.myObject.receipt_img_2.ko_fileType(file.type);
                        self.myObject.receipt_img_2.ko_src(dataurl);
                    } else if (imgNo == 3) {
                        self.myObject.receipt_img_3.ko_fileType(file.type);
                        self.myObject.receipt_img_3.ko_src(dataurl);
                    } else if (imgNo == 4) {
                        self.myObject.receipt_img_4.ko_fileType(file.type);
                        self.myObject.receipt_img_4.ko_src(dataurl);
                    } else if (imgNo == 5) {
                        self.myObject.receipt_img_5.ko_fileType(file.type);
                        self.myObject.receipt_img_5.ko_src(dataurl);
                    }
                   

                } // img.onload
            }
            // Load files into file reader
            reader.readAsDataURL(file);
        }
    </script>
}

