﻿@model AttackCampaign.Models.CampaignActionModel

@{
    ViewBag.Title = "Duck Thailand Campaign ";
    var jsonData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
}
<div class="row justify-content-center">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 stroke" align="center">
        <h1>ร้านค้าที่ร่วมรายการ</h1>
    </div>
</div>
<div  class="content-wrapper" style="border-radius: 18px 18px">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="row" data-bind="foreach: myObject.lstAllStore">
            <div style="margin-bottom: 4px;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <span data-bind="text: ($index() + 1)"></span>
                <label data-bind="text: store_name" style="font-size: 0.8em"></label>
            </div>

        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);
            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

        });
    </script>
}

