﻿
@{
    ViewBag.Title = "Duck Thailand Campaign ";
}

<div class="content-wrapper" style="border-radius: 18px 18px">
    <!-- Row start -->
    <div class="row gutters">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" align="center">
            <h3>Terms & Conditions</h3>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <p style="font-size: 0.7em;">
                *ลุ้นรับบัตรกำนัลร้านอาหาร Bar B Q Plaza มูลค่า 500 บาท จำนวน 100 ใบ ทุกเดือน เป็นระยะเวลา 3 เดือน รวมทั้งสิ้น 300 ใบ เป็นเงินมูลค่า 150,000 บาท <br />

                *เมื่อซื้อผลิตภัณฑ์แอทแทคเรสคิวชีท  แผ่นเช็ดทำความสะอาดแบบเปียก ขนาด 10 ชิ้น สูตรใดก็ได้ ต่อใบเสร็จที่ร้าน 7-Eleven ที่จำหน่ายผลิตภัณฑ์แอทแทคเรสคิวชีท  จะได้สิทธิ์ชิงโชค 1 สิทธิ์ โดยจำกัด 1 สิทธิ์ต่อ 1 ใบเสร็จ <br />

                *ระยะเวลาร่วมสนุกระหว่างวันที่ 15 ส.ค.62 – 23 พ.ย. 62  โดยแบ่งของรางวัลประจำเดือนดังนี้ <br />

                *ร่วมกิจกรรมทาง www.attackcampaign.com ลงทะเบียน ชื่อ-นามสกุล (ภาษาไทย) เบอร์โทรศัพท์  เลขที่ใบเสร็จ สาขาที่ซื้อและอัพโหลดรูปใบเสร็จที่มีผลิตภัณฑ์แอทแทคเรสคิวชีท ที่ร่วมรายการ เพื่อลงทะเบียนรับสิทธิ์ วันที่ 15 ส.ค.62 – 23 พ.ย. 62  เวลา 24.00 น. <br />

                *ใบเสร็จที่สามารถนำมาร่วมกิจกรรมได้ ต้องเป็นใบกำกับภาษีอย่างย่อหรือใบเสร็จรับเงินที่มีเลขที่ใบเสร็จที่มาจากร้าน 7-Eleven และมีผลิตภัณฑ์แอทแทคเรสคิวชีทเท่านั้น <br />

                *การจับรางวัลและประกาศรางวัล จะแบ่งออกเป็น 3 ครั้ง <br />
                ครั้งที่ 1 บัตรกำนัลร้านอาหาร Bar B Q Plaza มูลค่า 500 บาท จำนวน 100 ใบ  ใบเสร็จที่ส่งเข้ามาร่วมกิจกรรม ระหว่างวันที่ 15 ส.ค.62 – 15 ก.ย. 62 เวลา 24:00 น. จับรางวัล วันที่ 16 ก.ย. 62 และประกาศผลรางวัล วันที่ 19 ก.ย. 62 <br />
                ครั้งที่ 2 บัตรกำนัลร้านอาหาร Bar B Q Plaza มูลค่า 500 บาท จำนวน 100 ใบ  ใบเสร็จที่ส่งเข้ามาร่วมกิจกรรม 16 ก.ย.62 – 15 ต.ค. 62 จับรางวัล วันที่ 16 ต.ค. 62 และประกาศผลรางวัล วันที่ 21 ต.ค. 62 <br />
                ครั้งที่ 3 บัตรกำนัลร้านอาหาร Bar B Q Plaza มูลค่า 500 บาท จำนวน 100 ใบ  ใบเสร็จที่ส่งเข้ามาร่วมกิจกรรมระหว่างวันที่ 16 ต.ค.62 – 23 พ.ย. 62 จับรางวัล วันที่ 28 พ.ย. 62 และประกาศผลรางวัล วันที่ 3 ธ.ค. 62  รวมมูลค่าของรางวัลทั้ง 3 เดือน 105,000 บาท <br />

                *กำหนดจับรางวัล ทั้ง 3 ครั้ง ณ บริษัท คาโอ คอมเมอร์เชียล (ประเทศไทย) จำกัด ที่อยู่เลขที่ ๕๕ <br />
                อาคารเวฟเพลส ชั้น ๑๕ ถนนวิทยุ เเขวงลุมพินี เขตปทุมวัน กรุงเทพฯ <br />
                ๑๐๓๓๐ <br />

                *โดยใบเสร็จที่ส่งเข้ามาร่วมกิจกรรมในแต่ละครั้ง จะไม่ถูกนำมาจับในการลุ้นรางวัลครั้งถัดไป <br />
                ใบเสร็จที่ร่วมในการจับรางวัลแต่ละรอบ วันที่ในใบเสร็จ ต้องอยู่ในช่วงระยะเวลาร่วมสนุกที่กำหนดไว้ของแต่ละรอบเท่านั้น  ใบเสร็จที่นำมาจับรางวัลแล้ว จะไม่ถูกนำมารวมใบรอบถัดๆ ไป <br />

                *กำหนดรายชื่อผู้โชคดีทาง Web Application www.attackcampaign.com <br />

                *บริษัทฯ ขอสงวนสิทธิ์เฉพาะสินค้าที่มีเลขที่ใบเสร็จเท่านั้น และขอสงวนสิทธิ์ระงับมอบของรางวัล หรือเรียกคืนของรางวัลในกรณีที่บริษัทฯ ตรวจสอบพบว่าผู้มีสิทธิ์ได้รับรางวัล และ/หรือ ผู้รับรางวัลรายใดรายหนึ่งมีคุณสมบัติไม่ถูกต้อง ครบถ้วน <br />

                *การจับรางวัล จะนำข้อมูลของผู้ร่วมรายการทั้งหมดนำมาพิมพ์ลงบนกระดาษและนำมากองรวมกัน แล้วโยนขึ้นบนอากาศ จับชิ้นส่วนต่อหน้าคณะกรรมการและสักขีพยาน เพื่อให้ได้รับรางวัลตามที่กำหนดไว้ พร้อมทั้งอ่านรายชื่อผู้โชคดีเพื่อให้ทราบโดยทั่วกัน <br />

                *สงวนสิทธิ์ให้ผู้ที่ได้รับรางวัล ชื่อและเบอร์โทรศัพท์ 1 เลขหมาย สามารถรับรางวัลได้ท่านละ 1 รางวัลเท่านั้น จำกัดสิทธิ์ 1 ท่านต่อ 1 รางวัล สำหรับการจับรางวัลแต่ละรอบ <br />

                *การจับชิ้นส่วนรางวัลผู้โชคดี หากปรากฏว่า ได้ผู้โชคดี ที่มีรายชื่อและเบอร์โทรซ้ำซ้อนกันในแต่ละรอบ จะยกเลิกรายชื่อและเบอร์โทรที่ซ้ำซ้อนนั้น แล้วทำการจับชิ้นส่วนให้ได้ผู้โชคดีคนใหม่ต่อไป <br />

                *บริษัทฯ จะติดต่อผู้โชคดีเพื่อแจ้งให้ทราบเงื่อนไขและนัดหมายในการรับรางวัล โดยผู้โชคดีจะต้องนำเอกสารอันได้แก่ สำเนาบัตรประชาชน, สำเนาทะเบียนบ้าน และใบเสร็จตัวจริงที่ระบุเลขที่ใบเสร็จรหัสตรงตามที่ประกาศผลของผู้โชคดี มาเป็นหลักฐานในการรับรางวัล ผู้โชคดีที่ได้รับรางวัลจะต้องยืนยันตัวตนกับบริษัท แอดดิค จำกัด หรือภายใน 30 วันหลังการประกาศผล ไม่เช่นนั้น ถือว่าสละสิทธิ์ และบริษัทฯ จะมอบรางวัลดังกล่าวให้กับผู้มีรายชื่อสำรอง ซึ่งบริษัทได้จับสำรองไว้ 10 รายชื่อตามลำดับ <br />

                *ตามเอกสารข้างต้น ชื่อผู้รับรางวัลจะต้องตรงกับชื่อที่ส่งมาชิงโชค หากเอกสารไม่ครบถ้วนและชื่อไม่ตรง ทางบริษัทขอสงวนสิทธิ์ในการระงับมอบของรางวัล หรือเรียกคืนของรางวัลให้ทางบริษัทฯ <br />

                *รางวัลที่ได้รับไม่สามารถแลกเปลี่ยนเป็นเงินสด หรือเปลี่ยนของรางวัลอื่นได้ และผู้ที่ได้รับรางวัลไม่สามารถโอนสิทธิ์ในการรับรางวัลให้แก่บุคคลอื่นได้ <br />

                *ผู้โชคดีที่ได้รับรางวัลมูลค่า 1,000 บาทขึ้นไป จะต้องหักภาษี ณ ที่จ่าย 5% ของมูลค่าของรางวัลตามคำสั่งสรรพากรที่ ทป.101/2544 <br />

                *บริษัทฯ มีสิทธิ์เปลี่ยนแปลงเงื่อนไขข้อกำหนด กติกา หรือเปลี่ยนของรางวัลที่มีมูลค่าเท่ากันทดแทนได้ โดยไม่จำเป็นต้องแจ้งให้ทราบล่วงหน้า <br />

                *บริษัทฯ มีสิทธิ์นำชื่อ-นามสกุล และรายละเอียดอื่นใดของผู้ได้รับรางวัลออกเผยแพร่ ทั้งภาพและเสียง เพื่อการโฆษณาประชาสัมพันธ์ และ/หรือนำไปใช้ในการอื่น เพื่อประโยชน์สำหรับธุรกิจของบริษัทฯหรือ บุคคลอื่นใดได้ตามที่บริษัทฯเห็นสมควร โดยไม่ต้องจ่ายค่าตอบแทนแต่อย่างใด <br />

                *พนักงานของบริษัท บริษัท คาโอ คอมเมอร์เชียล (ประเทศไทย) จำกัดและครอบครัวทั้งบริษัทในเครือ ไม่มีสิทธิ์เข้าร่วมรายการ <br />

                *เลขที่ใบอนุญาต 1598/2562, 1599/2562, 1600/2562 ออกให้โดย อธิบดีกรมการปกครอง <br />

                *การตัดสินของคณะกรรมการถือเป็นที่สิ้นสุด และคณะกรรมการขอสงวนสิทธิ์ในการเปลี่ยนแปลงกติกา และของรางวัล โดยไม่ต้องแจ้งให้ทราบล่วงหน้า <br />

                *รายละเอียดแคมเปญหรือสอบถามข้อมูลเพิ่มเติม โทร.02-050-6800 <br />

            </p>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" align="center">
         
            <button type="button" class="btn btn-block ladda-button" style="background-color: #EE2A7B; color: #fff" data-bind="click:myObject.confirm">   ร่วมสนุก    </button>

        </div>
    </div>
    <!-- Row end -->
</div>
<!-- Content wrapper end -->

@section Scripts {

    <script type="text/javascript">
        $(function () {
            function ViewModel(data) {
                self.myObject = this;
                ko.mapping.fromJS(data, {}, self.myObject);

                self.myObject.confirm = function () {
                    window.location.href = _app.baseURL + 'Campaign/ChooseCampaign';
                };

            };

            var model = @Html.Raw(Json.Encode(Model));
            ko.applyBindings(new ViewModel(model), document.body);

        });
    </script>
}
